openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The Chrome Management API is a suite of services that allows Chrome\
    \ administrators to view, manage and gain insights on their Chrome OS and Chrome\
    \ Browser devices."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Chrome Management API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: openapi
    url: https://chromemanagement.googleapis.com/$discovery/rest?version=v1
    version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: chromemanagement
externalDocs:
  url: http://developers.google.com/chrome/management/
servers:
- url: https://chromemanagement.googleapis.com/
tags:
- name: customers
paths:
  /v1/{customer}/apps:countChromeAppRequests:
    get:
      description: Generate summary of app installation requests.
      operationId: chromemanagement.customers.apps.countChromeAppRequests
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Customer id or "my_customer" to use the customer associated
          to the account making the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Field used to order results. Supported fields: * request_count\
          \ * latest_request_time"
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the organizational unit.
        explode: true
        in: query
        name: orgUnitId
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum number of results to return. Maximum and default are\
          \ 50, anything above will be coerced to 50."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to specify the page of the request to be returned.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1CountChromeAppRequestsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.appdetails.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.appdetails.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{customer}/reports:countChromeBrowsersNeedingAttention:
    get:
      description: "Count of Chrome Browsers that have been recently enrolled, have\
        \ new policy to be synced, or have no recent activity."
      operationId: chromemanagement.customers.reports.countChromeBrowsersNeedingAttention
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer ID or "my_customer" prefixed with "customers/".
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The ID of the organizational unit. If omitted, all\
          \ data will be returned."
        explode: true
        in: query
        name: orgUnitId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{customer}/reports:countChromeDevicesReachingAutoExpirationDate:
    get:
      description: "Generate report of the number of devices expiring in each month\
        \ of the selected time frame. Devices are grouped by auto update expiration\
        \ date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947)."
      operationId: chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer ID or "my_customer" prefixed with "customers/".
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. Maximum expiration date in format yyyy-mm-dd in UTC
          timezone. If included returns all devices that have already expired and
          devices with auto expiration date equal to or earlier than the maximum date.
        explode: true
        in: query
        name: maxAueDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Maximum expiration date in format yyyy-mm-dd in UTC
          timezone. If included returns all devices that have already expired and
          devices with auto expiration date equal to or later than the minimum date.
        explode: true
        in: query
        name: minAueDate
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. The organizational unit ID, if omitted, will return\
          \ data for all organizational units."
        explode: true
        in: query
        name: orgUnitId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{customer}/reports:countChromeDevicesThatNeedAttention:
    get:
      description: "Counts of ChromeOS devices that have not synced policies or have\
        \ lacked user activity in the past 28 days, are out of date, or are not complaint.\
        \ Further information can be found here https://support.google.com/chrome/a/answer/10564947"
      operationId: chromemanagement.customers.reports.countChromeDevicesThatNeedAttention
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer ID or "my_customer" prefixed with "customers/".
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The ID of the organizational unit. If omitted, all\
          \ data will be returned."
        explode: true
        in: query
        name: orgUnitId
        required: false
        schema:
          type: string
        style: form
      - description: Required. Mask of the fields that should be populated in the
          returned report.
        explode: true
        in: query
        name: readMask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{customer}/reports:countChromeHardwareFleetDevices:
    get:
      description: "Counts of devices with a specific hardware specification from\
        \ the requested hardware type (for example model name, processor type). Further\
        \ information can be found here https://support.google.com/chrome/a/answer/10564947"
      operationId: chromemanagement.customers.reports.countChromeHardwareFleetDevices
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer ID or "my_customer".
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The ID of the organizational unit. If omitted, all\
          \ data will be returned."
        explode: true
        in: query
        name: orgUnitId
        required: false
        schema:
          type: string
        style: form
      - description: Required. Mask of the fields that should be populated in the
          returned report.
        explode: true
        in: query
        name: readMask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{customer}/reports:countChromeVersions:
    get:
      description: Generate report of installed Chrome versions.
      operationId: chromemanagement.customers.reports.countChromeVersions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Customer id or "my_customer" to use the customer associated
          to the account making the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Query string to filter results, AND-separated fields in EBNF\
          \ syntax. Note: OR operations are not supported in this filter. Supported\
          \ filter fields: * last_active_date"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the organizational unit.
        explode: true
        in: query
        name: orgUnitId
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results to return. Maximum and default are
          100.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to specify the page of the request to be returned.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1CountChromeVersionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{customer}/reports:countInstalledApps:
    get:
      description: Generate report of app installations.
      operationId: chromemanagement.customers.reports.countInstalledApps
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Customer id or "my_customer" to use the customer associated
          to the account making the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Query string to filter results, AND-separated fields in EBNF\
          \ syntax. Note: OR operations are not supported in this filter. Supported\
          \ filter fields: * app_name * app_type * install_type * number_of_permissions\
          \ * total_install_count * latest_profile_active_date * permission_name *\
          \ app_id"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Field used to order results. Supported order by fields: * app_name\
          \ * app_type * install_type * number_of_permissions * total_install_count\
          \ * app_id"
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the organizational unit.
        explode: true
        in: query
        name: orgUnitId
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results to return. Maximum and default are
          100.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to specify the page of the request to be returned.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1CountInstalledAppsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{customer}/reports:findInstalledAppDevices:
    get:
      description: Generate report of managed Chrome browser devices that have a specified
        app installed.
      operationId: chromemanagement.customers.reports.findInstalledAppDevices
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Customer id or "my_customer" to use the customer associated
          to the account making the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Unique identifier of the app. For Chrome apps and extensions,\
          \ the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android\
          \ apps, the package name (e.g. com.evernote)."
        explode: true
        in: query
        name: appId
        required: false
        schema:
          type: string
        style: form
      - description: Type of the app.
        explode: true
        in: query
        name: appType
        required: false
        schema:
          enum:
          - APP_TYPE_UNSPECIFIED
          - EXTENSION
          - APP
          - THEME
          - HOSTED_APP
          - ANDROID_APP
          type: string
        style: form
      - description: "Query string to filter results, AND-separated fields in EBNF\
          \ syntax. Note: OR operations are not supported in this filter. Supported\
          \ filter fields: * last_active_date"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Field used to order results. Supported order by fields: * machine\
          \ * device_id"
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the organizational unit.
        explode: true
        in: query
        name: orgUnitId
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results to return. Maximum and default are
          100.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to specify the page of the request to be returned.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1FindInstalledAppDevicesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{name}:
    get:
      description: Get telemetry user.
      operationId: chromemanagement.customers.telemetry.users.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Name of the `TelemetryUser` to return.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Read mask to specify which fields to return.
        explode: true
        in: query
        name: readMask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1TelemetryUser'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{parent}/telemetry/devices:
    get:
      description: List all telemetry devices.
      operationId: chromemanagement.customers.telemetry.devices.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Customer id or "my_customer" to use the customer associated
          to the account making the request.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Only include resources that match the filter. Supported\
          \ filter fields: - org_unit_id - serial_number - device_id - reports_timestamp\
          \ The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds\
          \ format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and\
          \ up to nine fractional digits. Both formats should be surrounded by simple\
          \ double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\"\
          , \"1679283943823\"."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results to return. Default value is 100. Maximum
          value is 1000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to specify next page in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Required. Read mask to specify which fields to return.
        explode: true
        in: query
        name: readMask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1ListTelemetryDevicesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{parent}/telemetry/events:
    get:
      description: List telemetry events.
      operationId: chromemanagement.customers.telemetry.events.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Customer id or "my_customer" to use the customer associated
          to the account making the request.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Only include resources that match the filter. Supported\
          \ filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id\
          \ - timestamp - event_type The \"timestamp\" filter accepts either the Unix\
          \ Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond\
          \ resolution and up to nine fractional digits. Both formats should be surrounded\
          \ by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\"\
          , \"1679283943823\"."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Maximum number of results to return. Default value
          is 100. Maximum value is 1000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. Token to specify next page in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Required. Read mask to specify which fields to return.
        explode: true
        in: query
        name: readMask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1ListTelemetryEventsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
      tags:
      - customers
      x-accepts:
      - application/json
  /v1/{parent}/telemetry/users:
    get:
      description: List all telemetry users.
      operationId: chromemanagement.customers.telemetry.users.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Customer id or "my_customer" to use the customer associated
          to the account making the request.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Only include resources that match the filter. Supported filter\
          \ fields: - user_id - user_org_unit_id "
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results to return. Default value is 100. Maximum
          value is 1000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Token to specify next page in the list.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Read mask to specify which fields to return.
        explode: true
        in: query
        name: readMask
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromeManagementV1ListTelemetryUsersResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
      tags:
      - customers
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleChromeManagementV1AndroidAppInfo:
      description: Android app information.
      properties:
        permissions:
          description: Output only. Permissions requested by an Android app.
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1AndroidAppPermission'
          readOnly: true
          type: array
      type: object
    GoogleChromeManagementV1AndroidAppPermission:
      description: Permission requested by an Android app.
      properties:
        type:
          description: Output only. The type of the permission.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1AppDetails:
      description: Resource representing app details.
      properties:
        androidAppInfo:
          $ref: '#/components/schemas/GoogleChromeManagementV1AndroidAppInfo'
        appId:
          description: "Output only. Unique store identifier for the item. Examples:\
            \ \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome\
            \ extension, \"com.google.android.apps.docs\" for the Google Drive Android\
            \ app."
          readOnly: true
          type: string
        chromeAppInfo:
          $ref: '#/components/schemas/GoogleChromeManagementV1ChromeAppInfo'
        description:
          description: Output only. App's description.
          readOnly: true
          type: string
        detailUri:
          description: Output only. The uri for the detail page of the item.
          readOnly: true
          type: string
        displayName:
          description: Output only. App's display name.
          readOnly: true
          type: string
        firstPublishTime:
          description: Output only. First published time.
          format: google-datetime
          readOnly: true
          type: string
        homepageUri:
          description: Output only. Home page or Website uri.
          readOnly: true
          type: string
        iconUri:
          description: Output only. A link to an image that can be used as an icon
            for the product.
          readOnly: true
          type: string
        isPaidApp:
          description: Output only. Indicates if the app has to be paid for OR has
            paid content.
          readOnly: true
          type: boolean
        latestPublishTime:
          description: Output only. Latest published time.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}"
          readOnly: true
          type: string
        privacyPolicyUri:
          description: "Output only. The URI pointing to the privacy policy of the\
            \ app, if it was provided by the developer. Version-specific field that\
            \ will only be set when the requested app version is found."
          readOnly: true
          type: string
        publisher:
          description: Output only. The publisher of the item.
          readOnly: true
          type: string
        reviewNumber:
          description: Output only. Number of reviews received. Chrome Web Store review
            information will always be for the latest version of an app.
          format: int64
          readOnly: true
          type: string
        reviewRating:
          description: Output only. The rating of the app (on 5 stars). Chrome Web
            Store review information will always be for the latest version of an app.
          format: float
          readOnly: true
          type: number
        revisionId:
          description: Output only. App version. A new revision is committed whenever
            a new version of the app is published.
          readOnly: true
          type: string
        serviceError:
          $ref: '#/components/schemas/GoogleRpcStatus'
        type:
          description: Output only. App type.
          enum:
          - APP_ITEM_TYPE_UNSPECIFIED
          - CHROME
          - ANDROID
          - WEB
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1AudioStatusReport:
      description: "Status data for storage. * This field is telemetry information\
        \ and this will change over time as the device is utilized. * Data for this\
        \ field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus)\
        \ * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency:\
        \ 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the\
        \ collected data is stored locally, and will be reported when the device is\
        \ next online: No * Reported for affiliated users only: N/A"
      example:
        inputGain: 0
        outputMute: true
        outputDevice: outputDevice
        inputDevice: inputDevice
        inputMute: true
        outputVolume: 6
        reportTime: reportTime
      properties:
        inputDevice:
          description: Output only. Active input device's name.
          readOnly: true
          type: string
        inputGain:
          description: "Output only. Active input device's gain in [0, 100]."
          format: int32
          readOnly: true
          type: integer
        inputMute:
          description: Output only. Is active input device mute or not.
          readOnly: true
          type: boolean
        outputDevice:
          description: Output only. Active output device's name.
          readOnly: true
          type: string
        outputMute:
          description: Output only. Is active output device mute or not.
          readOnly: true
          type: boolean
        outputVolume:
          description: "Output only. Active output device's volume in [0, 100]."
          format: int32
          readOnly: true
          type: integer
        reportTime:
          description: Output only. Timestamp of when the sample was collected on
            device.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BatteryInfo:
      description: "Information about the battery. * This field provides device information,\
        \ which is static and will not change over time. * Data for this field is\
        \ controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus)\
        \ * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency:\
        \ 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the\
        \ collected data is stored locally, and will be reported when the device is\
        \ next online: No * Reported for affiliated users only: N/A"
      example:
        serialNumber: serialNumber
        designMinVoltage: 0
        manufactureDate:
          month: 1
          year: 5
          day: 6
        designCapacity: designCapacity
        technology: technology
        manufacturer: manufacturer
      properties:
        designCapacity:
          description: Output only. Design capacity (mAmpere-hours).
          format: int64
          readOnly: true
          type: string
        designMinVoltage:
          description: Output only. Designed minimum output voltage (mV)
          format: int32
          readOnly: true
          type: integer
        manufactureDate:
          $ref: '#/components/schemas/GoogleTypeDate'
        manufacturer:
          description: Output only. Battery manufacturer.
          readOnly: true
          type: string
        serialNumber:
          description: Output only. Battery serial number.
          readOnly: true
          type: string
        technology:
          description: "Output only. Technology of the battery. Example: Li-ion"
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BatterySampleReport:
      description: "Sampling data for battery. * This field is telemetry information\
        \ and this will change over time as the device is utilized. * Data for this\
        \ field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus)\
        \ * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency:\
        \ 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the\
        \ collected data is stored locally, and will be reported when the device is\
        \ next online: No * Reported for affiliated users only: N/A"
      example:
        chargeRate: 2
        current: current
        temperature: 9
        remainingCapacity: remainingCapacity
        dischargeRate: 7
        reportTime: reportTime
        status: status
        voltage: voltage
      properties:
        chargeRate:
          description: Output only. Battery charge percentage.
          format: int32
          readOnly: true
          type: integer
        current:
          description: Output only. Battery current (mA).
          format: int64
          readOnly: true
          type: string
        dischargeRate:
          description: "Output only. The battery discharge rate measured in mW. Positive\
            \ if the battery is being discharged, negative if it's being charged."
          format: int32
          readOnly: true
          type: integer
        remainingCapacity:
          description: Output only. Battery remaining capacity (mAmpere-hours).
          format: int64
          readOnly: true
          type: string
        reportTime:
          description: Output only. Timestamp of when the sample was collected on
            device
          format: google-datetime
          readOnly: true
          type: string
        status:
          description: "Output only. Battery status read from sysfs. Example: Discharging"
          readOnly: true
          type: string
        temperature:
          description: Output only. Temperature in Celsius degrees.
          format: int32
          readOnly: true
          type: integer
        voltage:
          description: Output only. Battery voltage (millivolt).
          format: int64
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BatteryStatusReport:
      description: "Status data for battery. * This field is telemetry information\
        \ and this will change over time as the device is utilized. * Data for this\
        \ field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus)\
        \ * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency:\
        \ 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the\
        \ collected data is stored locally, and will be reported when the device is\
        \ next online: No * Reported for affiliated users only: N/A"
      example:
        serialNumber: serialNumber
        batteryHealth: BATTERY_HEALTH_UNSPECIFIED
        cycleCount: 5
        fullChargeCapacity: fullChargeCapacity
        sample:
        - chargeRate: 2
          current: current
          temperature: 9
          remainingCapacity: remainingCapacity
          dischargeRate: 7
          reportTime: reportTime
          status: status
          voltage: voltage
        - chargeRate: 2
          current: current
          temperature: 9
          remainingCapacity: remainingCapacity
          dischargeRate: 7
          reportTime: reportTime
          status: status
          voltage: voltage
        reportTime: reportTime
      properties:
        batteryHealth:
          description: Output only. Battery health.
          enum:
          - BATTERY_HEALTH_UNSPECIFIED
          - BATTERY_HEALTH_NORMAL
          - BATTERY_REPLACE_SOON
          - BATTERY_REPLACE_NOW
          readOnly: true
          type: string
        cycleCount:
          description: Output only. Cycle count.
          format: int32
          readOnly: true
          type: integer
        fullChargeCapacity:
          description: Output only. Full charge capacity (mAmpere-hours).
          format: int64
          readOnly: true
          type: string
        reportTime:
          description: Output only. Timestamp of when the sample was collected on
            device
          format: google-datetime
          readOnly: true
          type: string
        sample:
          description: Output only. Sampling data for the battery sorted in a decreasing
            order of report_time.
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1BatterySampleReport'
          readOnly: true
          type: array
        serialNumber:
          description: Output only. Battery serial number.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BootPerformanceReport:
      description: "Boot performance report of a device. * This field is telemetry\
        \ information and this will change over time as the device is utilized. *\
        \ Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode)\
        \ * Data Collection Frequency: On every boot up event * Default Data Reporting\
        \ Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline,\
        \ the collected data is stored locally, and will be reported when the device\
        \ is next online: Yes * Reported for affiliated users only: N/A"
      example:
        bootUpDuration: bootUpDuration
        shutdownDuration: shutdownDuration
        bootUpTime: bootUpTime
        shutdownReason: SHUTDOWN_REASON_UNSPECIFIED
        shutdownTime: shutdownTime
        reportTime: reportTime
      properties:
        bootUpDuration:
          description: Total time to boot up.
          format: google-duration
          type: string
        bootUpTime:
          description: The timestamp when power came on.
          format: google-datetime
          type: string
        reportTime:
          description: Timestamp when the report was collected.
          format: google-datetime
          type: string
        shutdownDuration:
          description: Total time since shutdown start to power off.
          format: google-duration
          type: string
        shutdownReason:
          description: The shutdown reason.
          enum:
          - SHUTDOWN_REASON_UNSPECIFIED
          - USER_REQUEST
          - SYSTEM_UPDATE
          - LOW_BATTERY
          - OTHER
          type: string
        shutdownTime:
          description: The timestamp when shutdown.
          format: google-datetime
          type: string
      type: object
    GoogleChromeManagementV1BrowserVersion:
      description: Describes a browser version and its install count.
      example:
        system: DEVICE_SYSTEM_UNSPECIFIED
        channel: RELEASE_CHANNEL_UNSPECIFIED
        count: count
        deviceOsVersion: deviceOsVersion
        version: version
      properties:
        channel:
          description: Output only. The release channel of the installed browser.
          enum:
          - RELEASE_CHANNEL_UNSPECIFIED
          - CANARY
          - DEV
          - BETA
          - STABLE
          readOnly: true
          type: string
        count:
          description: Output only. Count grouped by device_system and major version
          format: int64
          readOnly: true
          type: string
        deviceOsVersion:
          description: Output only. Version of the system-specified operating system.
          readOnly: true
          type: string
        system:
          description: Output only. The device operating system.
          enum:
          - DEVICE_SYSTEM_UNSPECIFIED
          - SYSTEM_OTHER
          - SYSTEM_ANDROID
          - SYSTEM_IOS
          - SYSTEM_CROS
          - SYSTEM_WINDOWS
          - SYSTEM_MAC
          - SYSTEM_LINUX
          readOnly: true
          type: string
        version:
          description: Output only. The full version of the installed browser.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppInfo:
      description: Chrome Web Store app information.
      properties:
        googleOwned:
          description: Output only. Whether the app or extension is built and maintained
            by Google. Version-specific field that will only be set when the requested
            app version is found.
          readOnly: true
          type: boolean
        isCwsHosted:
          description: Output only. Whether the app or extension is in a published
            state in the Chrome Web Store.
          readOnly: true
          type: boolean
        isExtensionPolicySupported:
          description: Output only. Whether an app supports policy for extensions.
          readOnly: true
          type: boolean
        isKioskOnly:
          description: Output only. Whether the app is only for Kiosk mode on ChromeOS
            devices
          readOnly: true
          type: boolean
        isTheme:
          description: Output only. Whether the app or extension is a theme.
          readOnly: true
          type: boolean
        kioskEnabled:
          description: Output only. Whether this app is enabled for Kiosk mode on
            ChromeOS devices
          readOnly: true
          type: boolean
        minUserCount:
          description: Output only. The minimum number of users using this app.
          format: int32
          readOnly: true
          type: integer
        permissions:
          description: Output only. Every custom permission requested by the app.
            Version-specific field that will only be set when the requested app version
            is found.
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1ChromeAppPermission'
          readOnly: true
          type: array
        siteAccess:
          description: Output only. Every permission giving access to domains or broad
            host patterns. ( e.g. www.google.com). This includes the matches from
            content scripts as well as hosts in the permissions node of the manifest.
            Version-specific field that will only be set when the requested app version
            is found.
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1ChromeAppSiteAccess'
          readOnly: true
          type: array
        supportEnabled:
          description: Output only. The app developer has enabled support for their
            app. Version-specific field that will only be set when the requested app
            version is found.
          readOnly: true
          type: boolean
        type:
          description: Output only. Types of an item in the Chrome Web Store
          enum:
          - ITEM_TYPE_UNSPECIFIED
          - EXTENSION
          - OTHERS
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppPermission:
      description: Permission requested by a Chrome app or extension.
      properties:
        accessUserData:
          description: "Output only. If available, whether this permissions grants\
            \ the app/extension access to user data."
          readOnly: true
          type: boolean
        documentationUri:
          description: "Output only. If available, a URI to a page that has documentation\
            \ for the current permission."
          readOnly: true
          type: string
        type:
          description: Output only. The type of the permission.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppRequest:
      description: Details of an app installation request.
      example:
        requestCount: requestCount
        displayName: displayName
        appId: appId
        appDetails: appDetails
        latestRequestTime: latestRequestTime
        detailUri: detailUri
        iconUri: iconUri
      properties:
        appDetails:
          description: "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}"
          readOnly: true
          type: string
        appId:
          description: "Output only. Unique store identifier for the app. Example:\
            \ \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome\
            \ extension."
          readOnly: true
          type: string
        detailUri:
          description: Output only. The uri for the detail page of the item.
          readOnly: true
          type: string
        displayName:
          description: Output only. App's display name.
          readOnly: true
          type: string
        iconUri:
          description: Output only. A link to an image that can be used as an icon
            for the product.
          readOnly: true
          type: string
        latestRequestTime:
          description: Output only. The timestamp of the most recently made request
            for this app.
          format: google-datetime
          readOnly: true
          type: string
        requestCount:
          description: Output only. Total count of requests for this app.
          format: int64
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppSiteAccess:
      description: Represent one host permission.
      properties:
        hostMatch:
          description: "Output only. This can contain very specific hosts, or patterns\
            \ like \"*.com\" for instance."
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1CountChromeAppRequestsResponse:
      description: Response containing summary of requested app installations.
      example:
        totalSize: 0
        nextPageToken: nextPageToken
        requestedApps:
        - requestCount: requestCount
          displayName: displayName
          appId: appId
          appDetails: appDetails
          latestRequestTime: latestRequestTime
          detailUri: detailUri
          iconUri: iconUri
        - requestCount: requestCount
          displayName: displayName
          appId: appId
          appDetails: appDetails
          latestRequestTime: latestRequestTime
          detailUri: detailUri
          iconUri: iconUri
      properties:
        nextPageToken:
          description: Token to specify the next page in the list.
          type: string
        requestedApps:
          description: Count of requested apps matching request.
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1ChromeAppRequest'
          type: array
        totalSize:
          description: Total number of matching app requests.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse:
      description: Response containing counts for browsers that need attention.
      example:
        recentlyEnrolledCount: recentlyEnrolledCount
        pendingBrowserUpdateCount: pendingBrowserUpdateCount
        noRecentActivityCount: noRecentActivityCount
      properties:
        noRecentActivityCount:
          description: Number of browsers that haven’t had any recent activity
          format: int64
          type: string
        pendingBrowserUpdateCount:
          description: Number of browsers that are pending an OS update
          format: int64
          type: string
        recentlyEnrolledCount:
          description: Number of browsers that have been recently enrolled
          format: int64
          type: string
      type: object
    GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse:
      description: Response containing a list of devices expiring in each month of
        a selected time frame. Counts are grouped by model and Auto Update Expiration
        date.
      example:
        deviceAueCountReports:
        - aueYear: aueYear
          expired: true
          count: count
          aueMonth: MONTH_UNSPECIFIED
          model: model
        - aueYear: aueYear
          expired: true
          count: count
          aueMonth: MONTH_UNSPECIFIED
          model: model
      properties:
        deviceAueCountReports:
          description: The list of reports sorted by auto update expiration date in
            ascending order.
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1DeviceAueCountReport'
          type: array
      type: object
    GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse:
      description: Response containing counts for devices that need attention.
      example:
        unsupportedPolicyCount: unsupportedPolicyCount
        noRecentPolicySyncCount: noRecentPolicySyncCount
        osVersionNotCompliantCount: osVersionNotCompliantCount
        pendingUpdate: pendingUpdate
        noRecentUserActivityCount: noRecentUserActivityCount
      properties:
        noRecentPolicySyncCount:
          description: Number of ChromeOS devices have not synced policies in the
            past 28 days.
          format: int64
          type: string
        noRecentUserActivityCount:
          description: Number of ChromeOS devices that have not seen any user activity
            in the past 28 days.
          format: int64
          type: string
        osVersionNotCompliantCount:
          description: Number of devices whose OS version is not compliant.
          format: int64
          type: string
        pendingUpdate:
          description: Number of devices that are pending an OS update.
          format: int64
          type: string
        unsupportedPolicyCount:
          description: Number of devices that are unable to apply a policy due to
            an OS version mismatch.
          format: int64
          type: string
      type: object
    GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse:
      description: Response containing a list of devices with a specific type of hardware
        specification from the requested hardware type.
      example:
        cpuReports:
        - bucket: bucket
          count: count
        - bucket: bucket
          count: count
        modelReports:
        - bucket: bucket
          count: count
        - bucket: bucket
          count: count
        memoryReports:
        - bucket: bucket
          count: count
        - bucket: bucket
          count: count
        storageReports:
        - bucket: bucket
          count: count
        - bucket: bucket
          count: count
      properties:
        cpuReports:
          description: The DeviceHardwareCountReport for device cpu type (for example
            Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1DeviceHardwareCountReport'
          type: array
        memoryReports:
          description: The DeviceHardwareCountReport for device memory amount in gigabytes
            (for example 16).
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1DeviceHardwareCountReport'
          type: array
        modelReports:
          description: The DeviceHardwareCountReport for device model type (for example
            Acer C7 Chromebook).
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1DeviceHardwareCountReport'
          type: array
        storageReports:
          description: The DeviceHardwareCountReport for device storage amount in
            gigabytes (for example 128).
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1DeviceHardwareCountReport'
          type: array
      type: object
    GoogleChromeManagementV1CountChromeVersionsResponse:
      description: Response containing requested browser versions details and counts.
      example:
        totalSize: 0
        nextPageToken: nextPageToken
        browserVersions:
        - system: DEVICE_SYSTEM_UNSPECIFIED
          channel: RELEASE_CHANNEL_UNSPECIFIED
          count: count
          deviceOsVersion: deviceOsVersion
          version: version
        - system: DEVICE_SYSTEM_UNSPECIFIED
          channel: RELEASE_CHANNEL_UNSPECIFIED
          count: count
          deviceOsVersion: deviceOsVersion
          version: version
      properties:
        browserVersions:
          description: List of all browser versions and their install counts.
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1BrowserVersion'
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number browser versions matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CountInstalledAppsResponse:
      description: Response containing details of queried installed apps.
      example:
        installedApps:
        - browserDeviceCount: browserDeviceCount
          appInstallType: APP_INSTALL_TYPE_UNSPECIFIED
          appType: APP_TYPE_UNSPECIFIED
          displayName: displayName
          permissions:
          - permissions
          - permissions
          appId: appId
          description: description
          osUserCount: osUserCount
          disabled: true
          homepageUri: homepageUri
          appSource: APP_SOURCE_UNSPECIFIED
        - browserDeviceCount: browserDeviceCount
          appInstallType: APP_INSTALL_TYPE_UNSPECIFIED
          appType: APP_TYPE_UNSPECIFIED
          displayName: displayName
          permissions:
          - permissions
          - permissions
          appId: appId
          description: description
          osUserCount: osUserCount
          disabled: true
          homepageUri: homepageUri
          appSource: APP_SOURCE_UNSPECIFIED
        totalSize: 0
        nextPageToken: nextPageToken
      properties:
        installedApps:
          description: List of installed apps matching request.
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1InstalledApp'
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number of installed apps matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CpuInfo:
      description: "CPU specifications for the device * This field provides device\
        \ information, which is static and will not change over time. * Data for this\
        \ field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo)\
        \ * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency:\
        \ 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the\
        \ collected data is stored locally, and will be reported when the device is\
        \ next online: No * Reported for affiliated users only: N/A"
      example:
        maxClockSpeed: 3
        keylockerConfigured: true
        model: model
        keylockerSupported: true
        architecture: ARCHITECTURE_UNSPECIFIED
      properties:
        architecture:
          description: "Output only. Architecture type for the CPU. * This field provides\
            \ device information, which is static and will not change over time. *\
            \ Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo)\
            \ * Data Collection Frequency: Only at Upload * Default Data Reporting\
            \ Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is\
            \ offline, the collected data is stored locally, and will be reported\
            \ when the device is next online: No * Reported for affiliated users only:\
            \ N/A"
          enum:
          - ARCHITECTURE_UNSPECIFIED
          - X64
          readOnly: true
          type: string
        keylockerConfigured:
          description: Output only. Whether keylocker is configured.`TRUE` = Enabled;
            `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.
          readOnly: true
          type: boolean
        keylockerSupported:
          description: Output only. Whether keylocker is supported.
          readOnly: true
          type: boolean
        maxClockSpeed:
          description: Output only. The max CPU clock speed in kHz.
          format: int32
          readOnly: true
          type: integer
        model:
          description: "Output only. The CPU model name. Example: Intel(R) Core(TM)\
            \ i5-8250U CPU @ 1.60GHz"
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1CpuStatusReport:
      description: "Provides information about the status of the CPU. * This field\
        \ is telemetry information and this will change over time as the device is\
        \ utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo)\
        \ * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency:\
        \ 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the\
        \ collected data is stored locally, and will be reported when the device is\
        \ next online: No * Reported for affiliated users only: N/A"
      example:
        sampleFrequency: sampleFrequency
        cpuUtilizationPct: 4
        cpuTemperatureInfo:
        - label: label
          temperatureCelsius: 2
        - label: label
          temperatureCelsius: 2
        reportTime: reportTime
      properties:
        cpuTemperatureInfo:
          description: Output only. CPU temperature sample info per CPU core in Celsius
          items:
            $ref: '#/components/schemas/GoogleChromeManagementV1CpuTemperatureInfo'
          readOnly: true
          type: array
        cpuUtilizationPct:
          description: Output only. Sample of CPU utilization (0-100 percent).
          format: int32
          readOnly: true
          type: integer
        reportTime:
          description: Output only. The timestamp in milliseconds representing time
            at which this report was sampled.
          format: google-datetime
          readOnly: true
          type: string
        sampleFrequency:
          description: Output only. Frequency the report is sampled.
          format: google-duration
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1CpuTemperatureInfo:
      description: "CPU temperature of a device. Sampled per CPU core in Celsius.\
        \ * This field is telemetry information and this will change over time as\
        \ the device is utilized. * Data for this field is controlled via policy:\
        \ [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo)\
        \ * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency:\
        \ 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the\
        \ collected data is stored locally, and will be reported when the device is\
        \ next online: No * Reported for affiliated users only: N/A"
      example:
        label: label
        temperatureCelsius: 2
      properties:
        label:
          description: "Output only. CPU label. Example: Core 0"
          readOnly: true
          type: string
        temperatureCelsius:
          description: Output only. CPU temperature in Celsius.
          format: int32
          readOnly: true
          type: integer
      type: object
    GoogleChromeManagementV1Device:
      description: Describes a device reporting Chrome browser information.
      example:
        machine: machine
        deviceId: deviceId
      properties:
        deviceId:
          description: Output only. The ID of the device that reported this Chrome
            browser information.
          readOnly: true
          type: string
        machine:
          description: Output only. The name of the machine within its local network.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1DeviceAueCountReport:
      description: "Report for CountChromeDevicesPerAueDateResponse, contains the\
        \ count of devices of a specific model and auto update expiration range."
      example:
        aueYear: aueYear
        expired: true
        count: count
        aueMonth: MONTH_UNSPECIFIED
        model: model
      properties:
        aueMonth:
          description: "Enum value of month corresponding to the auto update expiration\
            \ date in UTC time zone. If the device is already expired, this field\
            \ is empty."
          enum:
          - MONTH_UNSPECIFIED
          - JANUARY
          - FEBRUARY
          - MARCH
          - APRIL
          - MAY
          - JUNE
          - JULY
          - AUGUST
          - SEPTEMBER
          - OCTOBER
          - NOVEMBER
          - DECEMBER
          type: string
        aueYear:
          description: "Int value of year corresponding to the Auto Update Expiration\
            \ date in UTC time zone. If the device is already expired, this field\
            \ is empty."
          format: int64
          type: string
        count:
          description: Count of devices of this model.
          format: int64
          type: string
        expired:
          description: Boolean value for whether or not the device has already expired.
          type: boolean
        model:
          description: Public model name of the devices.
          type: string
      type: object
    GoogleChromeManagementV1DeviceHardwareCountReport:
      description: "Report for CountChromeDevicesPerHardwareSpecResponse, contains\
        \ the count of devices with a unique hardware specification."
      example:
        bucket: bucket
        count: count
      properties:
        bucket:
          description: Public name of the hardware specification.
          type: string
        count:
          description: Count of devices with a unique hardware specification.
          format: int64
          type: string
      type: object
    GoogleChromeManagementV1DiskInfo:
      description: Status of the single storage device.
      example:
        bytesReadThisSession: bytesReadThisSession
        ioTimeThisSession: ioTimeThisSession
        discardTimeThisSession: discardTimeThisSession
        writeTimeThisSession: writeTimeThisSession
        serialNumber: serialNumber
        bytesWrittenThisSession: bytesWrittenThisSession
        health: health
        readTimeThisSession: readTimeThisSession
        type: type
        manufacturer: manufacturer
        sizeBytes: sizeBytes
        model: model
        volumeIds:
        - volumeIds
        - volumeIds
      properties:
        bytesReadThisSession:
[...]
