openapi: 3.0.3
info:
  contact:
    email: support@surevoip.co.uk
    name: SureVoIP API Support
    url: https://www.surevoip.co.uk/contact-surevoip
  description: |
    # Introduction
    Welcome to the SureVoIP RESTful hypermedia API (sometimes known as a VoIP REST API, Telecom REST API, SIP API, Hypermedia API or just VoIP API.)

    The SureVoIP API is a way for you to automate your interaction with the SureVoIP platforms. With the API, you can create your own scripts, applications or mashups which can:
    * List calls
    * create customers
    * search numbers
    * provision numbers
    * send SMS texts
    * create outbound calls
    * schedule announcements
    * schedule call hangups with an announcement
    * subscribe to events/alerts
    * track calls
    * retrieve invoices
    * grab your SIP details
    * check your IP address
    * be 100% self-sufficient
    * and much more!
  license:
    name: Proprietry
    url: https://api.surevoip.co.uk
  termsOfService: https://www.surevoip.co.uk/about/terms-conditions
  title: The SureVoIP RESTful API
  version: 9dcb0dc8
  x-apisguru-categories:
  - telecom
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.surevoip.co.uk_sites_default_files_fbg_logo.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/SureVoIP/API-Specification/master/openapi/openapi.yaml
    version: "3.0"
  x-providerName: surevoip.co.uk
externalDocs:
  description: SureVoIP API Wiki
  url: https://www.surevoip.co.uk/support/wiki/api_documentation
servers:
- description: Production SureVoIP API (live data)
  url: https://api.surevoip.co.uk
- description: Sandbox SureVoIP API (data is 24 hours behind production)
  url: https://sandbox.surevoip.co.uk
security:
- BasicAuth: []
- OAuth2: []
tags:
- description: Announcements that can be played during or before a call
  name: announcements
- description: Areacodes of numbers that SureVoIP can supply
  name: areacodes
- description: Billing details and invoices
  name: billing
- description: Create phone calls via an API
  name: calls
- description: Create a charge for a customer
  name: charges
- description: "Create, List, Updated and Delete Contacts"
  name: contacts
- description: "Create, List, Updated and Delete Customers"
  name: customers
- description: Echo back your payload
  name: echo
- description: Send faxes - Not in service
  name: faxes
- description: "Create, List, Updated and Delete Hosted VoIP Customers"
  name: hosted
- description: Show the originating IP address of your request
  name: ip-address
- description: "Create, List, Updated and Delete SIMs"
  name: mobile
- description: "Create, List, Updated and Delete Numbers (DDIs)"
  name: numbers
- description: "Create, List, Updated and Delete Partners and their customers"
  name: partners
- description: "Create, List, Updated and Delete Number Porting requests"
  name: porting
- description: List Services Statuses
  name: service-status
- description: List SIP details
  name: sip
- description: Send SMS (text messages)
  name: sms
- description: List support details
  name: support
- description: Create call credit topups for customers
  name: topups
paths:
  /:
    get:
      parameters:
      - description: Disable Hypermedia
        explode: true
        in: query
        name: hypermedia
        required: false
        schema:
          default: "true"
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Content Type
        explode: true
        in: query
        name: content-type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          - text/html
          - text/xml
          - application/xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__get_200_response'
            text/xml:
              schema:
                $ref: '#/paths/~1/get/responses/200/content/application~1json/schema'
          description: Return Status OK and/or resource list
      summary: List global resources
      tags:
      - global
      x-accepts:
      - application/json
      - text/xml
  /announcements:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1/get/responses/200/content/application~1json/schema'
            text/xml:
              schema:
                $ref: '#/paths/~1/get/responses/200/content/application~1json/schema'
          description: Return Status OK and/or resource list
      summary: List global announcements
      tags:
      - announcements
      x-accepts:
      - application/json
      - text/xml
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_announcements_post_request'
        description: "Upload a wav file to be used in other parts of the API - 10Mb\
          \ limit, ending in .wav"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_announcements_post_201_response'
          description: File created on filesystem.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_announcements_post_400_response'
          description: Bad data
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_announcements_post_403_response'
          description: "Sorry, you have reached your max quota of 10 announcement\
            \ files. Please delete some."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/403/content/application~1json/schema'
          description: Problem saving file
      summary: Add a new announcement audio file
      tags:
      - announcements
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /areacodes:
    get:
      responses:
        "200":
          description: OK
      summary: List areacodes
      tags:
      - areacodes
      x-accepts:
      - application/json
  /billing:
    get:
      responses:
        "200":
          description: OK
      summary: List global billing detail
      tags:
      - billing
      x-accepts:
      - application/json
  /calls:
    get:
      parameters:
      - description: Validate a phone number by calling it for one ring. Note; not
          100% proof the number is in service.
        example: 441224900123
        explode: true
        in: query
        name: validate
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1/get/responses/200/content/application~1json/schema'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/400/content/application~1json/schema'
          description: Bad query data
        "404":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/403/content/application~1json/schema'
          description: Only partners or admins can list all live calls.
      summary: Validate a phone number by calling it once
      tags:
      - calls
      x-accepts:
      - application/json
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_calls_post_request'
        description: Create a phone call and play announcement audio to the "from"
          party (a leg)
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_calls_post_202_response'
          description: Call creation request accepted.
          headers:
            Location:
              description: URL of created call to monitor
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/400/content/application~1json/schema'
          description: Bad data
        "403":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/403/content/application~1json/schema'
          description: Only customer accounts can create calls.
        "500":
          description: Issue with API interface to core platform.
      summary: Create phone calls with or without announcements and scheduled hangups
      tags:
      - calls
      x-content-type: application/json
      x-accepts:
      - application/json
  /charges:
    get:
      responses:
        "200":
          description: OK
      summary: List charges
      tags:
      - charges
      x-accepts:
      - application/json
    post:
      responses:
        "201":
          description: "Created,"
      summary: Create charges for invoices
      tags:
      - charges
      x-accepts:
      - application/json
  /contacts:
    get:
      responses:
        "200":
          description: OK
      summary: List contacts
      tags:
      - contacts
      x-accepts:
      - application/json
  /customers:
    get:
      responses:
        "302":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_customers_get_302_response'
          description: Found
          headers:
            Location:
              description: URL of customer account
              explode: false
              schema:
                type: string
              style: simple
          links:
            GetCustomer:
              description: |
                The 'location' URL contains the customer account
              operationId: getCustomer
              parameters:
                account: $response.body#/location
      summary: List all customers or find your own account
      tags:
      - customers
      x-accepts:
      - application/json
  /customers/{account}:
    get:
      operationId: getCustomer
      parameters:
      - description: Account ID of customer
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomer_200_response'
          description: Found
      summary: Represents a customer
      tags:
      - customers
      x-accepts:
      - application/json
  /customers/{account}/announcements:
    get:
      parameters:
      - description: Account ID of customer
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_customers__account__announcements_get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/403/content/application~1json/schema'
          description: Not found
      summary: List of announcement audio files
      tags:
      - announcements
      x-accepts:
      - application/json
  /customers/{account}/announcements/{announcement_id}:
    delete:
      parameters: []
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/403/content/application~1json/schema'
          description: Not found
        "410":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/403/content/application~1json/schema'
          description: Gone
      summary: Delete an announcement audio file
      tags:
      - announcements
      x-accepts:
      - application/json
    get:
      parameters:
      - description: Announcement ID of audio file
        explode: false
        in: path
        name: announcement_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1announcements/post/responses/201/content/application~1json/schema'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_customers__account__announcements__announcement_id__get_404_response'
          description: Not found
      summary: Represents an announcement audio file
      tags:
      - announcements
      x-accepts:
      - application/json
  /faxes:
    get:
      responses:
        "200":
          description: OK
      summary: List global ongoing faxes
      tags:
      - faxes
      x-accepts:
      - application/json
  /hosted:
    get:
      responses:
        "200":
          description: OK
      summary: List Hosted VoIP domains
      tags:
      - hosted
      x-accepts:
      - application/json
  /ip-address:
    get:
      responses:
        "200":
          description: OK
      security: []
      summary: Return the IP address from where your API request originated
      tags:
      - support
      x-accepts:
      - application/json
  /mobile:
    get:
      responses:
        "200":
          description: OK
      summary: List mobile accounts
      tags:
      - mobile
      x-accepts:
      - application/json
  /numbers:
    get:
      responses:
        "200":
          description: OK
      security: []
      summary: List available SureVoIP Ofcom number allocations for purchase
      tags:
      - numbers
      x-accepts:
      - application/json
  /numbers/areacodes:
    get:
      description: |
        You can search by area name, area code or filter using both.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_numbers_areacodes_get_200_response'
          description: OK
      security: []
      summary: Search available numbers by areacode
      tags:
      - areacodes
      x-accepts:
      - application/json
  /partners:
    get:
      responses:
        "200":
          description: OK
      summary: List SureVoIP Partner accounts
      tags:
      - partners
      x-accepts:
      - application/json
  /porting:
    get:
      responses:
        "200":
          description: OK
      summary: List ported numbers
      tags:
      - porting
      x-accepts:
      - application/json
  /service-status:
    get:
      responses:
        "200":
          description: OK
      security: []
      summary: List all Service Status messages
      tags:
      - support
      x-accepts:
      - application/json
  /sip:
    get:
      responses:
        "200":
          description: OK
      summary: List all SIP accounts
      tags:
      - sip
      x-accepts:
      - application/json
  /sms:
    get:
      responses:
        "200":
          description: OK
      summary: List SMS
      tags:
      - sms
      x-accepts:
      - application/json
  /support/echo:
    post:
      responses:
        "200":
          description: OK
      summary: Return your POSTed data for testing
      tags:
      - echo
      x-accepts:
      - application/json
  /support/ip-address:
    get:
      responses:
        "200":
          description: OK
      security: []
      summary: Return the IP address from where your API request originated
      tags:
      - support
      x-accepts:
      - application/json
  /support/service-status:
    get:
      responses:
        "200":
          description: OK
      security: []
      summary: List all Service Status messages
      tags:
      - support
      x-accepts:
      - application/json
  /topups:
    get:
      responses:
        "200":
          description: OK
      summary: List all account credit topups
      tags:
      - topups
      x-accepts:
      - application/json
components:
  schemas:
    _announcements_post_201_response:
      example:
        announcement:
          filename: filename
          size: 0
          src_ip_address: src_ip_address
          description: description
          creation_date: creation_date
          file_internal: file_internal
          id: id
          url:
            download: download
            href: href
            title: title
      properties:
        announcement:
          $ref: '#/components/schemas/_announcements_post_201_response_announcement'
      type: object
    getCustomer_200_response:
      example:
        country: country
        firstname: firstname
        address: address
        city: city
        company_website: company_website
        postcode: postcode
        lastname: lastname
        balance: 0
        phone: phone
        company_name: company_name
        state: state
        creditlimit: creditlimit
        fax: fax
        email: email
        username: 6
      properties:
        address:
          type: string
        balance:
          type: integer
        city:
          type: string
        company_name:
          type: string
        company_website:
          type: string
        country:
          type: string
        creditlimit:
          type: string
        email:
          type: string
        fax:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        phone:
          type: string
        postcode:
          type: string
        state:
          type: string
        username:
          type: integer
      type: object
    _calls_post_request:
      properties:
        announcement_at:
          description: |
            is in seconds. Just take 120 secs away from the hangup_at time for a announcement to be played 2 mins before the end of the call. If provided announcement_id is required
          example: "180"
          type: string
        announcement_id:
          description: |
            is the announcement id (from https://api.surevoip.co.uk/customers/{customer}/announcements/{announcement_id}) to play for example “your call is about to end in 2 mins”. We only allow a wav file, but we may allow "words", which will use SureVoIP provided text to speech. If provided announcement_at is required
          example: hgCRVfWB4hGRSEAkICyA
          type: string
        caller_id:
          description: The caller ID to show the b leg (to).
          example: "1224900123"
          type: string
        from:
          description: "The person making the call, i.e the a leg. This person must\
            \ answer in order for the b leg to be rung"
          example: "442035159999"
          type: string
        hangup_announcement_id:
          description: |
            the id of a thank you announcement or similar. You can manage these as you would with any RESTful resource at https://api.surevoip.co.uk/announcements and https://api.surevoip.co.uk/customers/{customer}/announcements/{announcement_id}. It will be played at the end of the call at hangup. If provided hangup_at is required.
          example: RVfWB4hGRSEAkIXYCyA
          type: string
        hangup_at:
          description: |
            length in seconds from when the call is *answered* to when the system hangs up. If "hangup_announcement_id" is present, this will be played at hangup
          example: "300"
          type: string
        options:
          $ref: '#/components/schemas/_calls_post_request_options'
        to:
          description: "The b leg of the call, i.e. the person you are calling"
          example: "442035159995"
          type: string
      required:
      - caller_id
      - from
      - to
      type: object
    _announcements_post_400_response_errors_inner:
      example:
        field: field
        message:
        - message
        - message
      properties:
        field:
          type: string
        message:
          items:
            type: string
          type: array
      required:
      - field
      - message
      type: object
    _announcements_post_400_response:
      example:
        errors:
        - field: field
          message:
          - message
          - message
        - field: field
          message:
          - message
          - message
      properties:
        errors:
          items:
            $ref: '#/components/schemas/_announcements_post_400_response_errors_inner'
          type: array
      required:
      - errors
      type: object
    _calls_post_request_options:
      properties:
        a_leg_caller_id:
          description: Change the caller ID shown to the a leg (from)
          example: "1224900123"
          type: string
        a_leg_only:
          description: "Do not ring the \"to\" number, only the from and show \"caller_id\""
          example: 1
          type: integer
        cancel_key:
          description: The phone keypad number to press to hangup the call and not
            place the second leg of the call. Default 2
          example: 2
          type: integer
        connect_key:
          description: "The phone keypad number to press in order to place the call\
            \ to the b leg, i.e. press to confirm. Default 1"
          example: 1
          type: integer
        play_audio:
          items:
            $ref: '#/components/schemas/_calls_post_request_options_play_audio_inner'
          type: array
      type: object
    _customers__account__announcements__announcement_id__get_404_response:
      example:
        error: error
      properties:
        error:
          type: string
      type: object
    _calls_post_202_response:
      example:
        Call: Call
        Location: Location
      properties:
        Call:
          type: string
        Location:
          type: string
      type: object
    _announcements_post_201_response_announcement_url:
      example:
        download: download
        href: href
        title: title
      properties:
        download:
          type: string
        href:
          type: string
        title:
          type: string
      type: object
    __get_200_response:
      example:
        status: OK
      properties:
        status:
          enum:
          - OK
          type: string
      type: object
    _announcements_post_403_response:
      example:
        message: message
      properties:
        message:
          type: string
      type: object
    _numbers_areacodes_get_200_response:
      example:
        name: name
        id: 0
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
      required:
      - id
      - name
      type: object
    _announcements_post_request:
      properties:
        description:
          type: string
        file:
          format: audio/x-wav
          type: string
      type: object
    _calls_post_request_options_play_audio_inner:
      properties:
        announcement_id:
          description: "Id of announcement audio file which will play to the a leg\
            \ of the call, i.e. the person that must answer the call first. This plays\
            \ one or more audio files you have uploaded. The use case being you want\
            \ to play audio to let the a leg of the call know what the call is about.\
            \ Imagine a call center agent needs to know that they are calling a customer.\
            \ These audio files may play a customer account number to the agent for\
            \ example. \nHave lots of audio files in this array to build up a message\n"
          example: zgL4QmsB6hGmv5YnsW_4lQ
          type: string
      type: object
    _customers_get_302_response:
      example:
        location: location
      properties:
        location:
          type: string
      type: object
    _customers__account__announcements_get_200_response:
      example:
        list:
        - "{}"
        - "{}"
      properties:
        list:
          items:
            $ref: '#/paths/~1announcements/post/responses/201/content/application~1json/schema'
          type: array
      type: object
    _announcements_post_201_response_announcement:
      example:
        filename: filename
        size: 0
        src_ip_address: src_ip_address
        description: description
        creation_date: creation_date
        file_internal: file_internal
        id: id
        url:
          download: download
          href: href
          title: title
      properties:
        creation_date:
          type: string
        description:
          type: string
        file_internal:
          type: string
        filename:
          type: string
        id:
          type: string
        size:
          type: integer
        src_ip_address:
          type: string
        url:
          $ref: '#/components/schemas/_announcements_post_201_response_announcement_url'
      type: object
  securitySchemes:
    BasicAuth:
      description: Basic HTTP Auth
      scheme: basic
      type: http
    OAuth2:
      description: OpenID Certified OAuth 2.0 Server and OpenID Connect Provider
      flows:
        authorizationCode:
          authorizationUrl: https://authz.surevoip.co.uk/oauth2/auth
          refreshUrl: https://authz.surevoip.co.uk/oauth2/token
          scopes:
            offline: Include this scope if you wish to receive a refresh token
            offline_access: Include this scope if you wish to receive a refresh token
            openid: Include this scope if you wish to perform an OpenID Connect request
          tokenUrl: https://authz.surevoip.co.uk/oauth2/token
        clientCredentials:
          scopes:
            offline: Include this scope if you wish to receive a refresh token
            offline_access: Include this scope if you wish to receive a refresh token
            openid: Include this scope if you wish to perform an OpenID Connect request
          tokenUrl: https://authz.surevoip.co.uk/oauth2/token
        implicit:
          authorizationUrl: https://authz.surevoip.co.uk/oauth2/auth
          refreshUrl: https://authz.surevoip.co.uk/oauth2/token
          scopes:
            offline: Include this scope if you wish to receive a refresh token
            offline_access: Include this scope if you wish to receive a refresh token
            openid: Include this scope if you wish to perform an OpenID Connect request
      type: oauth2
    OpenIDConnect:
      description: OpenID Certified OAuth 2.0 Server and OpenID Connect Provider
      openIdConnectUrl: https://authz.surevoip.co.uk/.well-known/openid-configuration
      type: openIdConnect

