{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/schedule.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "automation-schedule",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {},
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules": {
      "get": {
        "description": "Retrieve a list of schedules.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/scheduleoperations"
        },
        "operationId": "Schedule_ListByAutomationAccount",
        "parameters": [
          {
            "description": "Name of an Azure Resource group.",
            "in": "path",
            "maxLength": 90,
            "minLength": 1,
            "name": "resourceGroupName",
            "pattern": "^[-\\w\\._]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the automation account.",
            "in": "path",
            "name": "automationAccountName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduleListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "description": "Error response of an operation failure",
              "properties": {
                "code": {
                  "description": "Error code",
                  "type": "string"
                },
                "message": {
                  "description": "Error message indicating why the operation failed.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Schedule"
        ],
        "x-ms-examples": {
          "List schedules by automation account, first 100": {
            "parameters": {
              "api-version": "2015-10-31",
              "automationAccountName": "myAutomationAccount33",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules?api-version=2015-10-31&$skip=100",
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
                      "name": "mySchedule",
                      "properties": {
                        "creationTime": "2017-03-27T16:59:22.697000+00:00",
                        "description": "my updated description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": false,
                        "lastModifiedTime": "2017-03-27T17:00:14.027000+00:00",
                        "nextRun": "2017-03-27T17:28:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T17:28:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule0",
                      "name": "mySchedule0",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:17.180000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:17.180000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule1",
                      "name": "mySchedule1",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:17.493000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:17.493000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule10",
                      "name": "mySchedule10",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:20.540000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:20.540000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule100",
                      "name": "mySchedule100",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:50.103000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:50.103000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule101",
                      "name": "mySchedule101",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:50.433000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:50.433000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule102",
                      "name": "mySchedule102",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:50.713000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:50.713000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule103",
                      "name": "mySchedule103",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:51.040000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:51.040000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule104",
                      "name": "mySchedule104",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:51.323000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:51.323000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule105",
                      "name": "mySchedule105",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:51.620000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:51.620000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule106",
                      "name": "mySchedule106",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:51.900000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:51.900000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule107",
                      "name": "mySchedule107",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:52.183000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:52.183000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule108",
                      "name": "mySchedule108",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:52.480000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:52.480000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule109",
                      "name": "mySchedule109",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:52.760000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:52.760000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule11",
                      "name": "mySchedule11",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:20.883000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:20.883000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule110",
                      "name": "mySchedule110",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:53.073000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:53.073000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule111",
                      "name": "mySchedule111",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:53.480000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:53.480000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule112",
                      "name": "mySchedule112",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:53.807000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:53.807000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule113",
                      "name": "mySchedule113",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:54.073000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:54.073000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule114",
                      "name": "mySchedule114",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:54.353000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:54.353000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule115",
                      "name": "mySchedule115",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:54.650000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:54.650000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule116",
                      "name": "mySchedule116",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:54.933000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:54.933000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule117",
                      "name": "mySchedule117",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:55.277000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:55.277000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule118",
                      "name": "mySchedule118",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:55.650000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:55.650000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule119",
                      "name": "mySchedule119",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:55.950000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:55.950000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule12",
                      "name": "mySchedule12",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:21.213000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:21.213000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule120",
                      "name": "mySchedule120",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:56.353000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:56.353000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule121",
                      "name": "mySchedule121",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:56.650000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:56.650000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule122",
                      "name": "mySchedule122",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:56.950000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:56.950000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule123",
                      "name": "mySchedule123",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:57.247000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:57.247000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule124",
                      "name": "mySchedule124",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:57.573000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:57.573000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule125",
                      "name": "mySchedule125",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:57.900000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:57.900000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule126",
                      "name": "mySchedule126",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:58.387000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:58.387000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule127",
                      "name": "mySchedule127",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:58.700000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:58.700000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule128",
                      "name": "mySchedule128",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:59.400000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:59.400000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule129",
                      "name": "mySchedule129",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:59.730000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:59.730000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule13",
                      "name": "mySchedule13",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:21.603000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:21.603000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule130",
                      "name": "mySchedule130",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:00.090000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:00.090000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule131",
                      "name": "mySchedule131",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:00.400000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:00.400000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule132",
                      "name": "mySchedule132",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:00.683000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:00.683000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule133",
                      "name": "mySchedule133",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:01.073000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:01.073000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule134",
                      "name": "mySchedule134",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:01.387000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:01.387000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule135",
                      "name": "mySchedule135",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:01.667000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:01.667000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule136",
                      "name": "mySchedule136",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:01.950000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:01.950000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule137",
                      "name": "mySchedule137",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:02.247000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:02.247000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule138",
                      "name": "mySchedule138",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:02.557000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:02.557000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule139",
                      "name": "mySchedule139",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:02.853000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:02.853000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule14",
                      "name": "mySchedule14",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:21.980000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:21.980000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule140",
                      "name": "mySchedule140",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:03.247000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:03.247000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule141",
                      "name": "mySchedule141",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:03.573000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:03.573000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule142",
                      "name": "mySchedule142",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:03.870000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:03.870000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule143",
                      "name": "mySchedule143",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:04.200000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:04.200000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule144",
                      "name": "mySchedule144",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:04.480000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:04.480000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule145",
                      "name": "mySchedule145",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:04.760000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:04.760000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule146",
                      "name": "mySchedule146",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:05.027000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:05.027000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule147",
                      "name": "mySchedule147",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:05.353000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:05.353000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule148",
                      "name": "mySchedule148",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:05.650000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:05.650000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule149",
                      "name": "mySchedule149",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:05.950000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:05.950000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule15",
                      "name": "mySchedule15",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:22.353000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:22.353000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule150",
                      "name": "mySchedule150",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:06.247000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:06.247000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule151",
                      "name": "mySchedule151",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:06.527000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:06.527000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule152",
                      "name": "mySchedule152",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:06.810000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:06.810000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule153",
                      "name": "mySchedule153",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:07.157000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:07.157000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule154",
                      "name": "mySchedule154",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:07.453000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:07.453000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule155",
                      "name": "mySchedule155",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:07.750000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:07.750000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule156",
                      "name": "mySchedule156",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:08.093000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:08.093000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule157",
                      "name": "mySchedule157",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:08.513000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:08.513000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule158",
                      "name": "mySchedule158",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:08.873000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:08.873000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule159",
                      "name": "mySchedule159",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:09.203000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:09.203000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule16",
                      "name": "mySchedule16",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:22.697000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:22.697000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule160",
                      "name": "mySchedule160",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:09.547000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:09.547000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule161",
                      "name": "mySchedule161",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:09.843000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:09.843000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule162",
                      "name": "mySchedule162",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:10.140000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:10.140000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule163",
                      "name": "mySchedule163",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:10.437000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:10.437000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule164",
                      "name": "mySchedule164",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:10.720000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:10.720000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule165",
                      "name": "mySchedule165",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:11.013000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:11.013000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule166",
                      "name": "mySchedule166",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:11.297000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:11.297000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule167",
                      "name": "mySchedule167",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:11.610000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:11.610000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule168",
                      "name": "mySchedule168",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:11.890000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:11.890000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule169",
                      "name": "mySchedule169",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:12.203000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:12.203000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule17",
                      "name": "mySchedule17",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:23.027000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:23.027000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule170",
                      "name": "mySchedule170",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:12.453000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:12.453000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule171",
                      "name": "mySchedule171",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:12.733000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:12.733000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule172",
                      "name": "mySchedule172",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:13.030000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:13.030000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule173",
                      "name": "mySchedule173",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:13.310000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:13.310000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule174",
                      "name": "mySchedule174",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:13.623000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:13.623000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule175",
                      "name": "mySchedule175",
                      "properties": {
                        "creationTime": "2017-03-27T17:01:13.937000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:01:13.937000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule18",
                      "name": "mySchedule18",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:23.337000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
                        "interval": 1,
                        "isEnabled": true,
                        "lastModifiedTime": "2017-03-27T17:00:23.337000+00:00",
                        "nextRun": "2017-03-27T18:59:00+00:00",
                        "nextRunOffsetMinutes": 0,
                        "startTime": "2017-03-27T18:59:00+00:00",
                        "startTimeOffsetMinutes": 0,
                        "timeZone": "UTC"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule19",
                      "name": "mySchedule19",
                      "properties": {
                        "creationTime": "2017-03-27T17:00:23.667000+00:00",
                        "description": "my description of schedule goes here",
                        "expiryTime": "2017-04-01T17:28:00+00:00",
                        "expiryTimeOffsetMinutes": 0,
                        "frequency": "Hour",
[...]
