openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  description: "<fullname>Security Token Service</fullname> <p>Security Token Service\
    \ (STS) enables you to request temporary, limited-privilege credentials for Identity\
    \ and Access Management (IAM) users or for users that you authenticate (federated\
    \ users). This guide provides descriptions of the STS API. For more information\
    \ about using this service, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\"\
    >Temporary Security Credentials</a>.</p>"
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  termsOfService: https://aws.amazon.com/service-terms/
  title: AWS Security Token Service
  version: 2011-06-15
  x-release: v4
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: '#FFFFFF'
  x-providerName: amazonaws.com
  x-serviceName: sts
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sts-2011-06-15.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/sts/
servers:
- description: The general AWS STS multi-region endpoint
  url: https://sts.amazonaws.com
- description: The AWS STS endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
  url: "http://sts.{region}.amazonaws.com"
  variables:
    region:
      default: us-gov-west-1
      description: The AWS region
      enum:
      - us-gov-west-1
      - us-gov-east-1
- description: The AWS STS endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
  url: "https://sts.{region}.amazonaws.com"
  variables:
    region:
      default: us-gov-west-1
      description: The AWS region
      enum:
      - us-gov-west-1
      - us-gov-east-1
- description: The AWS STS endpoint for China (Beijing) and China (Ningxia)
  url: "http://sts.{region}.amazonaws.com.cn"
  variables:
    region:
      default: cn-north-1
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
- description: The AWS STS endpoint for China (Beijing) and China (Ningxia)
  url: "https://sts.{region}.amazonaws.com.cn"
  variables:
    region:
      default: cn-north-1
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
security:
- hmac: []
paths:
  /#Action=AssumeRole:
    get:
      description: "<p>Returns a set of temporary security credentials that you can\
        \ use to access Amazon Web Services resources. These temporary credentials\
        \ consist of an access key ID, a secret access key, and a security token.\
        \ Typically, you use <code>AssumeRole</code> within your account or for cross-account\
        \ access. For a comparison of <code>AssumeRole</code> with other API operations\
        \ that produce temporary credentials, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html\"\
        >Requesting Temporary Security Credentials</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison\"\
        >Comparing the Amazon Web Services STS API operations</a> in the <i>IAM User\
        \ Guide</i>.</p> <p> <b>Permissions</b> </p> <p>The temporary security credentials\
        \ created by <code>AssumeRole</code> can be used to make API calls to any\
        \ Amazon Web Services service with the following exception: You cannot call\
        \ the Amazon Web Services STS <code>GetFederationToken</code> or <code>GetSessionToken</code>\
        \ API operations.</p> <p>(Optional) You can pass inline or managed <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >session policies</a> to this operation. You can pass a single JSON policy\
        \ document to use as an inline session policy. You can also specify up to\
        \ 10 managed policy Amazon Resource Names (ARNs) to use as managed session\
        \ policies. The plaintext that you use for both inline and managed session\
        \ policies can't exceed 2,048 characters. Passing policies to this operation\
        \ returns new temporary credentials. The resulting session's permissions are\
        \ the intersection of the role's identity-based policy and the session policies.\
        \ You can use the role's temporary credentials in subsequent Amazon Web Services\
        \ API calls to access resources in the account that owns the role. You cannot\
        \ use session policies to grant more permissions than those allowed by the\
        \ identity-based policy of the role that is being assumed. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >Session Policies</a> in the <i>IAM User Guide</i>.</p> <p>When you create\
        \ a role, you create two policies: A role trust policy that specifies <i>who</i>\
        \ can assume the role and a permissions policy that specifies <i>what</i>\
        \ can be done with the role. You specify the trusted principal who is allowed\
        \ to assume the role in the role trust policy.</p> <p>To assume a role from\
        \ a different account, your Amazon Web Services account must be trusted by\
        \ the role. The trust relationship is defined in the role's trust policy when\
        \ the role is created. That trust policy states which accounts are allowed\
        \ to delegate that access to users in the account. </p> <p>A user who wants\
        \ to access a role in a different account must also have permissions that\
        \ are delegated from the user account administrator. The administrator must\
        \ attach a policy that allows the user to call <code>AssumeRole</code> for\
        \ the ARN of the role in the other account.</p> <p>To allow a user to assume\
        \ a role in the same account, you can do either of the following:</p> <ul>\
        \ <li> <p>Attach a policy to the user that allows the user to call <code>AssumeRole</code>\
        \ (as long as the role's trust policy trusts the account).</p> </li> <li>\
        \ <p>Add the user as a principal directly in the role's trust policy.</p>\
        \ </li> </ul> <p>You can do either because the role’s trust policy acts as\
        \ an IAM resource-based policy. When a resource-based policy grants access\
        \ to a principal in the same account, no additional identity-based policy\
        \ is required. For more information about trust policies and resource-based\
        \ policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html\"\
        >IAM Policies</a> in the <i>IAM User Guide</i>.</p> <p> <b>Tags</b> </p> <p>(Optional)\
        \ You can pass tag key-value pairs to your session. These tags are called\
        \ session tags. For more information about session tags, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html\"\
        >Passing Session Tags in STS</a> in the <i>IAM User Guide</i>.</p> <p>An administrator\
        \ must grant you the permissions necessary to pass session tags. The administrator\
        \ can also create granular permissions to allow you to pass only specific\
        \ session tags. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_attribute-based-access-control.html\"\
        >Tutorial: Using Tags for Attribute-Based Access Control</a> in the <i>IAM\
        \ User Guide</i>.</p> <p>You can set the session tags as transitive. Transitive\
        \ tags persist during role chaining. For more information, see <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_role-chaining\"\
        >Chaining Roles with Session Tags</a> in the <i>IAM User Guide</i>.</p> <p>\
        \ <b>Using MFA with AssumeRole</b> </p> <p>(Optional) You can include multi-factor\
        \ authentication (MFA) information when you call <code>AssumeRole</code>.\
        \ This is useful for cross-account scenarios to ensure that the user that\
        \ assumes the role has been authenticated with an Amazon Web Services MFA\
        \ device. In that scenario, the trust policy of the role being assumed includes\
        \ a condition that tests for MFA authentication. If the caller does not include\
        \ valid MFA information, the request to assume the role is denied. The condition\
        \ in a trust policy that tests for MFA authentication might look like the\
        \ following example.</p> <p> <code>\"Condition\": {\"Bool\": {\"aws:MultiFactorAuthPresent\"\
        : true}}</code> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/MFAProtectedAPI.html\"\
        >Configuring MFA-Protected API Access</a> in the <i>IAM User Guide</i> guide.</p>\
        \ <p>To use MFA with <code>AssumeRole</code>, you pass values for the <code>SerialNumber</code>\
        \ and <code>TokenCode</code> parameters. The <code>SerialNumber</code> value\
        \ identifies the user's hardware or virtual MFA device. The <code>TokenCode</code>\
        \ is the time-based one-time password (TOTP) that the MFA device produces.\
        \ </p>"
      operationId: GET_AssumeRole
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The Amazon Resource Name (ARN) of the role to assume.
        explode: true
        in: query
        name: RoleArn
        required: true
        schema:
          maxLength: 2048
          minLength: 20
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\\
            uE000-\\uFFFD\\u10000-\\u10FFFF]+"
          type: string
        style: form
      - description: "<p>An identifier for the assumed role session.</p> <p>Use the\
          \ role session name to uniquely identify a session when the same role is\
          \ assumed by different principals or for different reasons. In cross-account\
          \ scenarios, the role session name is visible to, and can be logged by the\
          \ account that owns the role. The role session name is also used in the\
          \ ARN of the assumed role principal. This means that subsequent cross-account\
          \ API requests that use the temporary security credentials will expose the\
          \ role session name to the external account in their CloudTrail logs.</p>\
          \ <p>The regex used to validate this parameter is a string of characters\
          \ consisting of upper- and lower-case alphanumeric characters with no spaces.\
          \ You can also include underscores or any of the following characters: =,.@-</p>"
        explode: true
        in: query
        name: RoleSessionName
        required: true
        schema:
          maxLength: 64
          minLength: 2
          pattern: "[\\w+=,.@-]*"
          type: string
        style: form
      - description: "<p>The Amazon Resource Names (ARNs) of the IAM managed policies\
          \ that you want to use as managed session policies. The policies must exist\
          \ in the same account as the role.</p> <p>This parameter is optional. You\
          \ can provide up to 10 managed policy ARNs. However, the plaintext that\
          \ you use for both inline and managed session policies can't exceed 2,048\
          \ characters. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
          >Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a>\
          \ in the Amazon Web Services General Reference.</p> <note> <p>An Amazon\
          \ Web Services conversion compresses the passed inline session policy, managed\
          \ policy ARNs, and session tags into a packed binary format that has a separate\
          \ limit. Your request can fail for this limit even if your plaintext meets\
          \ the other requirements. The <code>PackedPolicySize</code> response element\
          \ indicates by percentage how close the policies and tags for your request\
          \ are to the upper size limit.</p> </note> <p>Passing policies to this operation\
          \ returns new temporary credentials. The resulting session's permissions\
          \ are the intersection of the role's identity-based policy and the session\
          \ policies. You can use the role's temporary credentials in subsequent Amazon\
          \ Web Services API calls to access resources in the account that owns the\
          \ role. You cannot use session policies to grant more permissions than those\
          \ allowed by the identity-based policy of the role that is being assumed.\
          \ For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
          >Session Policies</a> in the <i>IAM User Guide</i>.</p>"
        explode: true
        in: query
        name: PolicyArns
        required: false
        schema:
          items:
            $ref: '#/components/schemas/PolicyDescriptorType'
          type: array
        style: form
      - description: "<p>An IAM policy in JSON format that you want to use as an inline\
          \ session policy.</p> <p>This parameter is optional. Passing policies to\
          \ this operation returns new temporary credentials. The resulting session's\
          \ permissions are the intersection of the role's identity-based policy and\
          \ the session policies. You can use the role's temporary credentials in\
          \ subsequent Amazon Web Services API calls to access resources in the account\
          \ that owns the role. You cannot use session policies to grant more permissions\
          \ than those allowed by the identity-based policy of the role that is being\
          \ assumed. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
          >Session Policies</a> in the <i>IAM User Guide</i>.</p> <p>The plaintext\
          \ that you use for both inline and managed session policies can't exceed\
          \ 2,048 characters. The JSON policy characters can be any ASCII character\
          \ from the space character to the end of the valid character list (\\u0020\
          \ through \\u00FF). It can also include the tab (\\u0009), linefeed (\\\
          u000A), and carriage return (\\u000D) characters.</p> <note> <p>An Amazon\
          \ Web Services conversion compresses the passed inline session policy, managed\
          \ policy ARNs, and session tags into a packed binary format that has a separate\
          \ limit. Your request can fail for this limit even if your plaintext meets\
          \ the other requirements. The <code>PackedPolicySize</code> response element\
          \ indicates by percentage how close the policies and tags for your request\
          \ are to the upper size limit.</p> </note>"
        explode: true
        in: query
        name: Policy
        required: false
        schema:
          maxLength: 2048
          minLength: 1
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
          type: string
        style: form
      - description: "<p>The duration, in seconds, of the role session. The value\
          \ specified can range from 900 seconds (15 minutes) up to the maximum session\
          \ duration set for the role. The maximum session duration setting can have\
          \ a value from 1 hour to 12 hours. If you specify a value higher than this\
          \ setting or the administrator setting (whichever is lower), the operation\
          \ fails. For example, if you specify a session duration of 12 hours, but\
          \ your administrator set the maximum session duration to 6 hours, your operation\
          \ fails. </p> <p>Role chaining limits your Amazon Web Services CLI or Amazon\
          \ Web Services API role session to a maximum of one hour. When you use the\
          \ <code>AssumeRole</code> API operation to assume a role, you can specify\
          \ the duration of your role session with the <code>DurationSeconds</code>\
          \ parameter. You can specify a parameter value of up to 43200 seconds (12\
          \ hours), depending on the maximum session duration setting for your role.\
          \ However, if you assume a role using role chaining and provide a <code>DurationSeconds</code>\
          \ parameter value greater than one hour, the operation fails. To learn how\
          \ to view the maximum value for your role, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\"\
          >View the Maximum Session Duration Setting for a Role</a> in the <i>IAM\
          \ User Guide</i>.</p> <p>By default, the value is set to <code>3600</code>\
          \ seconds. </p> <note> <p>The <code>DurationSeconds</code> parameter is\
          \ separate from the duration of a console session that you might request\
          \ using the returned credentials. The request to the federation endpoint\
          \ for a console sign-in token takes a <code>SessionDuration</code> parameter\
          \ that specifies the maximum length of the console session. For more information,\
          \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html\"\
          >Creating a URL that Enables Federated Users to Access the Amazon Web Services\
          \ Management Console</a> in the <i>IAM User Guide</i>.</p> </note>"
        explode: true
        in: query
        name: DurationSeconds
        required: false
        schema:
          maximum: 43200
          minimum: 900
          type: integer
        style: form
      - description: "<p>A list of session tags that you want to pass. Each session\
          \ tag consists of a key name and an associated value. For more information\
          \ about session tags, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html\"\
          >Tagging Amazon Web Services STS Sessions</a> in the <i>IAM User Guide</i>.</p>\
          \ <p>This parameter is optional. You can pass up to 50 session tags. The\
          \ plaintext session tag keys can’t exceed 128 characters, and the values\
          \ can’t exceed 256 characters. For these and additional limits, see <a href=\"\
          https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-limits.html#reference_iam-limits-entity-length\"\
          >IAM and STS Character Limits</a> in the <i>IAM User Guide</i>.</p> <note>\
          \ <p>An Amazon Web Services conversion compresses the passed inline session\
          \ policy, managed policy ARNs, and session tags into a packed binary format\
          \ that has a separate limit. Your request can fail for this limit even if\
          \ your plaintext meets the other requirements. The <code>PackedPolicySize</code>\
          \ response element indicates by percentage how close the policies and tags\
          \ for your request are to the upper size limit.</p> </note> <p>You can pass\
          \ a session tag with the same key as a tag that is already attached to the\
          \ role. When you do, session tags override a role tag with the same key.\
          \ </p> <p>Tag key–value pairs are not case sensitive, but case is preserved.\
          \ This means that you cannot have separate <code>Department</code> and <code>department</code>\
          \ tag keys. Assume that the role has the <code>Department</code>=<code>Marketing</code>\
          \ tag and you pass the <code>department</code>=<code>engineering</code>\
          \ session tag. <code>Department</code> and <code>department</code> are not\
          \ saved as separate tags, and the session tag passed in the request takes\
          \ precedence over the role tag.</p> <p>Additionally, if you used temporary\
          \ credentials to perform this operation, the new session inherits any transitive\
          \ session tags from the calling session. If you pass a session tag with\
          \ the same key as an inherited tag, the operation fails. To view the inherited\
          \ tags for a session, see the CloudTrail logs. For more information, see\
          \ <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_ctlogs\"\
          >Viewing Session Tags in CloudTrail</a> in the <i>IAM User Guide</i>.</p>"
        explode: true
        in: query
        name: Tags
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Tag'
          maxItems: 50
          type: array
        style: form
      - description: "<p>A list of keys for session tags that you want to set as transitive.\
          \ If you set a tag key as transitive, the corresponding key and value passes\
          \ to subsequent sessions in a role chain. For more information, see <a href=\"\
          https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_role-chaining\"\
          >Chaining Roles with Session Tags</a> in the <i>IAM User Guide</i>.</p>\
          \ <p>This parameter is optional. When you set session tags as transitive,\
          \ the session policy and session tags packed binary limit is not affected.</p>\
          \ <p>If you choose not to specify a transitive tag key, then no tags are\
          \ passed from this session to any subsequent sessions.</p>"
        explode: true
        in: query
        name: TransitiveTagKeys
        required: false
        schema:
          items:
            $ref: '#/components/schemas/tagKeyType'
          maxItems: 50
          type: array
        style: form
      - description: "<p>A unique identifier that might be required when you assume\
          \ a role in another account. If the administrator of the account to which\
          \ the role belongs provided you with an external ID, then provide that value\
          \ in the <code>ExternalId</code> parameter. This value can be any string,\
          \ such as a passphrase or account number. A cross-account role is usually\
          \ set up to trust everyone in an account. Therefore, the administrator of\
          \ the trusting account might send an external ID to the administrator of\
          \ the trusted account. That way, only someone with the ID can assume the\
          \ role, rather than everyone in the account. For more information about\
          \ the external ID, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-user_externalid.html\"\
          >How to Use an External ID When Granting Access to Your Amazon Web Services\
          \ Resources to a Third Party</a> in the <i>IAM User Guide</i>.</p> <p>The\
          \ regex used to validate this parameter is a string of characters consisting\
          \ of upper- and lower-case alphanumeric characters with no spaces. You can\
          \ also include underscores or any of the following characters: =,.@:/-</p>"
        explode: true
        in: query
        name: ExternalId
        required: false
        schema:
          maxLength: 1224
          minLength: 2
          pattern: "[\\w+=,.@:\\/-]*"
          type: string
        style: form
      - description: "<p>The identification number of the MFA device that is associated\
          \ with the user who is making the <code>AssumeRole</code> call. Specify\
          \ this value if the trust policy of the role being assumed includes a condition\
          \ that requires MFA authentication. The value is either the serial number\
          \ for a hardware device (such as <code>GAHT12345678</code>) or an Amazon\
          \ Resource Name (ARN) for a virtual device (such as <code>arn:aws:iam::123456789012:mfa/user</code>).</p>\
          \ <p>The regex used to validate this parameter is a string of characters\
          \ consisting of upper- and lower-case alphanumeric characters with no spaces.\
          \ You can also include underscores or any of the following characters: =,.@-</p>"
        explode: true
        in: query
        name: SerialNumber
        required: false
        schema:
          maxLength: 256
          minLength: 9
          pattern: "[\\w+=/:,.@-]*"
          type: string
        style: form
      - description: "<p>The value provided by the MFA device, if the trust policy\
          \ of the role being assumed requires MFA. (In other words, if the policy\
          \ includes a condition that tests for MFA). If the role being assumed requires\
          \ MFA and if the <code>TokenCode</code> value is missing or expired, the\
          \ <code>AssumeRole</code> call returns an \"access denied\" error.</p> <p>The\
          \ format for this parameter, as described by its regex pattern, is a sequence\
          \ of six numeric digits.</p>"
        explode: true
        in: query
        name: TokenCode
        required: false
        schema:
          maxLength: 6
          minLength: 6
          pattern: "[\\d]*"
          type: string
        style: form
      - description: "<p>The source identity specified by the principal that is calling\
          \ the <code>AssumeRole</code> operation.</p> <p>You can require users to\
          \ specify a source identity when they assume a role. You do this by using\
          \ the <code>sts:SourceIdentity</code> condition key in a role trust policy.\
          \ You can use source identity information in CloudTrail logs to determine\
          \ who took actions with a role. You can use the <code>aws:SourceIdentity</code>\
          \ condition key to further control access to Amazon Web Services resources\
          \ based on the value of source identity. For more information about using\
          \ source identity, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_monitor.html\"\
          >Monitor and control actions taken with assumed roles</a> in the <i>IAM\
          \ User Guide</i>.</p> <p>The regex used to validate this parameter is a\
          \ string of characters consisting of upper- and lower-case alphanumeric\
          \ characters with no spaces. You can also include underscores or any of\
          \ the following characters: =,.@-. You cannot use a value that begins with\
          \ the text <code>aws:</code>. This prefix is reserved for Amazon Web Services\
          \ internal use.</p>"
        explode: true
        in: query
        name: SourceIdentity
        required: false
        schema:
          maxLength: 64
          minLength: 2
          pattern: "[\\w+=,.@-]*"
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AssumeRole
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2011-06-15
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AssumeRoleResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
          description: MalformedPolicyDocumentException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
          description: PackedPolicyTooLargeException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
          description: RegionDisabledException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredTokenException'
          description: ExpiredTokenException
      x-aws-operation-name: AssumeRole
      x-accepts:
      - text/xml
    post:
      description: "<p>Returns a set of temporary security credentials that you can\
        \ use to access Amazon Web Services resources. These temporary credentials\
        \ consist of an access key ID, a secret access key, and a security token.\
        \ Typically, you use <code>AssumeRole</code> within your account or for cross-account\
        \ access. For a comparison of <code>AssumeRole</code> with other API operations\
        \ that produce temporary credentials, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html\"\
        >Requesting Temporary Security Credentials</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison\"\
        >Comparing the Amazon Web Services STS API operations</a> in the <i>IAM User\
        \ Guide</i>.</p> <p> <b>Permissions</b> </p> <p>The temporary security credentials\
        \ created by <code>AssumeRole</code> can be used to make API calls to any\
        \ Amazon Web Services service with the following exception: You cannot call\
        \ the Amazon Web Services STS <code>GetFederationToken</code> or <code>GetSessionToken</code>\
        \ API operations.</p> <p>(Optional) You can pass inline or managed <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >session policies</a> to this operation. You can pass a single JSON policy\
        \ document to use as an inline session policy. You can also specify up to\
        \ 10 managed policy Amazon Resource Names (ARNs) to use as managed session\
        \ policies. The plaintext that you use for both inline and managed session\
        \ policies can't exceed 2,048 characters. Passing policies to this operation\
        \ returns new temporary credentials. The resulting session's permissions are\
        \ the intersection of the role's identity-based policy and the session policies.\
        \ You can use the role's temporary credentials in subsequent Amazon Web Services\
        \ API calls to access resources in the account that owns the role. You cannot\
        \ use session policies to grant more permissions than those allowed by the\
        \ identity-based policy of the role that is being assumed. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >Session Policies</a> in the <i>IAM User Guide</i>.</p> <p>When you create\
        \ a role, you create two policies: A role trust policy that specifies <i>who</i>\
        \ can assume the role and a permissions policy that specifies <i>what</i>\
        \ can be done with the role. You specify the trusted principal who is allowed\
        \ to assume the role in the role trust policy.</p> <p>To assume a role from\
        \ a different account, your Amazon Web Services account must be trusted by\
        \ the role. The trust relationship is defined in the role's trust policy when\
        \ the role is created. That trust policy states which accounts are allowed\
        \ to delegate that access to users in the account. </p> <p>A user who wants\
        \ to access a role in a different account must also have permissions that\
        \ are delegated from the user account administrator. The administrator must\
        \ attach a policy that allows the user to call <code>AssumeRole</code> for\
        \ the ARN of the role in the other account.</p> <p>To allow a user to assume\
        \ a role in the same account, you can do either of the following:</p> <ul>\
        \ <li> <p>Attach a policy to the user that allows the user to call <code>AssumeRole</code>\
        \ (as long as the role's trust policy trusts the account).</p> </li> <li>\
        \ <p>Add the user as a principal directly in the role's trust policy.</p>\
        \ </li> </ul> <p>You can do either because the role’s trust policy acts as\
        \ an IAM resource-based policy. When a resource-based policy grants access\
        \ to a principal in the same account, no additional identity-based policy\
        \ is required. For more information about trust policies and resource-based\
        \ policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html\"\
        >IAM Policies</a> in the <i>IAM User Guide</i>.</p> <p> <b>Tags</b> </p> <p>(Optional)\
        \ You can pass tag key-value pairs to your session. These tags are called\
        \ session tags. For more information about session tags, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html\"\
        >Passing Session Tags in STS</a> in the <i>IAM User Guide</i>.</p> <p>An administrator\
        \ must grant you the permissions necessary to pass session tags. The administrator\
        \ can also create granular permissions to allow you to pass only specific\
        \ session tags. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_attribute-based-access-control.html\"\
        >Tutorial: Using Tags for Attribute-Based Access Control</a> in the <i>IAM\
        \ User Guide</i>.</p> <p>You can set the session tags as transitive. Transitive\
        \ tags persist during role chaining. For more information, see <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_role-chaining\"\
        >Chaining Roles with Session Tags</a> in the <i>IAM User Guide</i>.</p> <p>\
        \ <b>Using MFA with AssumeRole</b> </p> <p>(Optional) You can include multi-factor\
        \ authentication (MFA) information when you call <code>AssumeRole</code>.\
        \ This is useful for cross-account scenarios to ensure that the user that\
        \ assumes the role has been authenticated with an Amazon Web Services MFA\
        \ device. In that scenario, the trust policy of the role being assumed includes\
        \ a condition that tests for MFA authentication. If the caller does not include\
        \ valid MFA information, the request to assume the role is denied. The condition\
        \ in a trust policy that tests for MFA authentication might look like the\
        \ following example.</p> <p> <code>\"Condition\": {\"Bool\": {\"aws:MultiFactorAuthPresent\"\
        : true}}</code> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/MFAProtectedAPI.html\"\
        >Configuring MFA-Protected API Access</a> in the <i>IAM User Guide</i> guide.</p>\
        \ <p>To use MFA with <code>AssumeRole</code>, you pass values for the <code>SerialNumber</code>\
        \ and <code>TokenCode</code> parameters. The <code>SerialNumber</code> value\
        \ identifies the user's hardware or virtual MFA device. The <code>TokenCode</code>\
        \ is the time-based one-time password (TOTP) that the MFA device produces.\
        \ </p>"
      operationId: POST_AssumeRole
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AssumeRole
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2011-06-15
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AssumeRoleRequest'
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AssumeRoleResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
          description: MalformedPolicyDocumentException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
          description: PackedPolicyTooLargeException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
          description: RegionDisabledException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredTokenException'
          description: ExpiredTokenException
      x-aws-operation-name: AssumeRole
      x-content-type: text/xml
      x-accepts:
      - text/xml
  /#Action=AssumeRoleWithSAML:
    get:
      description: "<p>Returns a set of temporary security credentials for users who\
        \ have been authenticated via a SAML authentication response. This operation\
        \ provides a mechanism for tying an enterprise identity store or directory\
        \ to role-based Amazon Web Services access without user-specific credentials\
        \ or configuration. For a comparison of <code>AssumeRoleWithSAML</code> with\
        \ the other API operations that produce temporary credentials, see <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html\"\
        >Requesting Temporary Security Credentials</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison\"\
        >Comparing the Amazon Web Services STS API operations</a> in the <i>IAM User\
        \ Guide</i>.</p> <p>The temporary security credentials returned by this operation\
        \ consist of an access key ID, a secret access key, and a security token.\
        \ Applications can use these temporary security credentials to sign calls\
        \ to Amazon Web Services services.</p> <p> <b>Session Duration</b> </p> <p>By\
        \ default, the temporary security credentials created by <code>AssumeRoleWithSAML</code>\
        \ last for one hour. However, you can use the optional <code>DurationSeconds</code>\
        \ parameter to specify the duration of your session. Your role session lasts\
        \ for the duration that you specify, or until the time specified in the SAML\
        \ authentication response's <code>SessionNotOnOrAfter</code> value, whichever\
        \ is shorter. You can provide a <code>DurationSeconds</code> value from 900\
        \ seconds (15 minutes) up to the maximum session duration setting for the\
        \ role. This setting can have a value from 1 hour to 12 hours. To learn how\
        \ to view the maximum value for your role, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\"\
        >View the Maximum Session Duration Setting for a Role</a> in the <i>IAM User\
        \ Guide</i>. The maximum session duration limit applies when you use the <code>AssumeRole*</code>\
        \ API operations or the <code>assume-role*</code> CLI commands. However the\
        \ limit does not apply when you use those operations to create a console URL.\
        \ For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html\"\
        >Using IAM Roles</a> in the <i>IAM User Guide</i>.</p> <note> <p> <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html#iam-term-role-chaining\"\
        >Role chaining</a> limits your CLI or Amazon Web Services API role session\
        \ to a maximum of one hour. When you use the <code>AssumeRole</code> API operation\
        \ to assume a role, you can specify the duration of your role session with\
        \ the <code>DurationSeconds</code> parameter. You can specify a parameter\
        \ value of up to 43200 seconds (12 hours), depending on the maximum session\
        \ duration setting for your role. However, if you assume a role using role\
        \ chaining and provide a <code>DurationSeconds</code> parameter value greater\
        \ than one hour, the operation fails.</p> </note> <p> <b>Permissions</b> </p>\
        \ <p>The temporary security credentials created by <code>AssumeRoleWithSAML</code>\
        \ can be used to make API calls to any Amazon Web Services service with the\
        \ following exception: you cannot call the STS <code>GetFederationToken</code>\
        \ or <code>GetSessionToken</code> API operations.</p> <p>(Optional) You can\
        \ pass inline or managed <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >session policies</a> to this operation. You can pass a single JSON policy\
        \ document to use as an inline session policy. You can also specify up to\
        \ 10 managed policy Amazon Resource Names (ARNs) to use as managed session\
        \ policies. The plaintext that you use for both inline and managed session\
        \ policies can't exceed 2,048 characters. Passing policies to this operation\
        \ returns new temporary credentials. The resulting session's permissions are\
        \ the intersection of the role's identity-based policy and the session policies.\
        \ You can use the role's temporary credentials in subsequent Amazon Web Services\
        \ API calls to access resources in the account that owns the role. You cannot\
        \ use session policies to grant more permissions than those allowed by the\
        \ identity-based policy of the role that is being assumed. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >Session Policies</a> in the <i>IAM User Guide</i>.</p> <p>Calling <code>AssumeRoleWithSAML</code>\
        \ does not require the use of Amazon Web Services security credentials. The\
        \ identity of the caller is validated by using keys in the metadata document\
        \ that is uploaded for the SAML provider entity for your identity provider.\
        \ </p> <important> <p>Calling <code>AssumeRoleWithSAML</code> can result in\
        \ an entry in your CloudTrail logs. The entry includes the value in the <code>NameID</code>\
        \ element of the SAML assertion. We recommend that you use a <code>NameIDType</code>\
        \ that is not associated with any personally identifiable information (PII).\
        \ For example, you could instead use the persistent identifier (<code>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</code>).</p>\
        \ </important> <p> <b>Tags</b> </p> <p>(Optional) You can configure your IdP\
        \ to pass attributes into your SAML assertion as session tags. Each session\
        \ tag consists of a key name and an associated value. For more information\
        \ about session tags, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html\"\
        >Passing Session Tags in STS</a> in the <i>IAM User Guide</i>.</p> <p>You\
        \ can pass up to 50 session tags. The plaintext session tag keys can’t exceed\
        \ 128 characters and the values can’t exceed 256 characters. For these and\
        \ additional limits, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-limits.html#reference_iam-limits-entity-length\"\
        >IAM and STS Character Limits</a> in the <i>IAM User Guide</i>.</p> <note>\
        \ <p>An Amazon Web Services conversion compresses the passed inline session\
        \ policy, managed policy ARNs, and session tags into a packed binary format\
        \ that has a separate limit. Your request can fail for this limit even if\
        \ your plaintext meets the other requirements. The <code>PackedPolicySize</code>\
        \ response element indicates by percentage how close the policies and tags\
        \ for your request are to the upper size limit.</p> </note> <p>You can pass\
        \ a session tag with the same key as a tag that is attached to the role. When\
        \ you do, session tags override the role's tags with the same key.</p> <p>An\
        \ administrator must grant you the permissions necessary to pass session tags.\
        \ The administrator can also create granular permissions to allow you to pass\
        \ only specific session tags. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_attribute-based-access-control.html\"\
        >Tutorial: Using Tags for Attribute-Based Access Control</a> in the <i>IAM\
        \ User Guide</i>.</p> <p>You can set the session tags as transitive. Transitive\
        \ tags persist during role chaining. For more information, see <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_role-chaining\"\
        >Chaining Roles with Session Tags</a> in the <i>IAM User Guide</i>.</p> <p>\
        \ <b>SAML Configuration</b> </p> <p>Before your application can call <code>AssumeRoleWithSAML</code>,\
        \ you must configure your SAML identity provider (IdP) to issue the claims\
        \ required by Amazon Web Services. Additionally, you must use Identity and\
        \ Access Management (IAM) to create a SAML provider entity in your Amazon\
        \ Web Services account that represents your identity provider. You must also\
        \ create an IAM role that specifies this SAML provider in its trust policy.\
        \ </p> <p>For more information, see the following resources:</p> <ul> <li>\
        \ <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_saml.html\"\
        >About SAML 2.0-based Federation</a> in the <i>IAM User Guide</i>. </p> </li>\
        \ <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_create_saml.html\"\
        >Creating SAML Identity Providers</a> in the <i>IAM User Guide</i>. </p> </li>\
        \ <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_create_saml_relying-party.html\"\
        >Configuring a Relying Party and Claims</a> in the <i>IAM User Guide</i>.\
        \ </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-idp_saml.html\"\
        >Creating a Role for SAML 2.0 Federation</a> in the <i>IAM User Guide</i>.\
        \ </p> </li> </ul>"
      operationId: GET_AssumeRoleWithSAML
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The Amazon Resource Name (ARN) of the role that the caller is
          assuming.
        explode: true
        in: query
        name: RoleArn
        required: true
        schema:
          maxLength: 2048
          minLength: 20
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\\
            uE000-\\uFFFD\\u10000-\\u10FFFF]+"
          type: string
        style: form
      - description: The Amazon Resource Name (ARN) of the SAML provider in IAM that
          describes the IdP.
        explode: true
        in: query
        name: PrincipalArn
        required: true
        schema:
          maxLength: 2048
          minLength: 20
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\\
            uE000-\\uFFFD\\u10000-\\u10FFFF]+"
          type: string
        style: form
      - description: "<p>The base64 encoded SAML authentication response provided\
          \ by the IdP.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/create-role-saml-IdP-tasks.html\"\
          >Configuring a Relying Party and Adding Claims</a> in the <i>IAM User Guide</i>.\
          \ </p>"
        explode: true
        in: query
        name: SAMLAssertion
        required: true
        schema:
          maxLength: 100000
          minLength: 4
          type: string
        style: form
      - description: "<p>The Amazon Resource Names (ARNs) of the IAM managed policies\
          \ that you want to use as managed session policies. The policies must exist\
          \ in the same account as the role.</p> <p>This parameter is optional. You\
          \ can provide up to 10 managed policy ARNs. However, the plaintext that\
          \ you use for both inline and managed session policies can't exceed 2,048\
          \ characters. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
          >Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a>\
          \ in the Amazon Web Services General Reference.</p> <note> <p>An Amazon\
          \ Web Services conversion compresses the passed inline session policy, managed\
          \ policy ARNs, and session tags into a packed binary format that has a separate\
          \ limit. Your request can fail for this limit even if your plaintext meets\
          \ the other requirements. The <code>PackedPolicySize</code> response element\
          \ indicates by percentage how close the policies and tags for your request\
          \ are to the upper size limit.</p> </note> <p>Passing policies to this operation\
          \ returns new temporary credentials. The resulting session's permissions\
          \ are the intersection of the role's identity-based policy and the session\
          \ policies. You can use the role's temporary credentials in subsequent Amazon\
          \ Web Services API calls to access resources in the account that owns the\
          \ role. You cannot use session policies to grant more permissions than those\
          \ allowed by the identity-based policy of the role that is being assumed.\
          \ For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
          >Session Policies</a> in the <i>IAM User Guide</i>.</p>"
        explode: true
        in: query
        name: PolicyArns
        required: false
        schema:
          items:
            $ref: '#/components/schemas/PolicyDescriptorType'
          type: array
        style: form
      - description: "<p>An IAM policy in JSON format that you want to use as an inline\
          \ session policy.</p> <p>This parameter is optional. Passing policies to\
          \ this operation returns new temporary credentials. The resulting session's\
          \ permissions are the intersection of the role's identity-based policy and\
          \ the session policies. You can use the role's temporary credentials in\
          \ subsequent Amazon Web Services API calls to access resources in the account\
          \ that owns the role. You cannot use session policies to grant more permissions\
          \ than those allowed by the identity-based policy of the role that is being\
          \ assumed. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
          >Session Policies</a> in the <i>IAM User Guide</i>. </p> <p>The plaintext\
          \ that you use for both inline and managed session policies can't exceed\
          \ 2,048 characters. The JSON policy characters can be any ASCII character\
          \ from the space character to the end of the valid character list (\\u0020\
          \ through \\u00FF). It can also include the tab (\\u0009), linefeed (\\\
          u000A), and carriage return (\\u000D) characters.</p> <note> <p>An Amazon\
          \ Web Services conversion compresses the passed inline session policy, managed\
          \ policy ARNs, and session tags into a packed binary format that has a separate\
          \ limit. Your request can fail for this limit even if your plaintext meets\
          \ the other requirements. The <code>PackedPolicySize</code> response element\
          \ indicates by percentage how close the policies and tags for your request\
          \ are to the upper size limit.</p> </note>"
        explode: true
        in: query
        name: Policy
        required: false
        schema:
          maxLength: 2048
          minLength: 1
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
          type: string
        style: form
      - description: "<p>The duration, in seconds, of the role session. Your role\
          \ session lasts for the duration that you specify for the <code>DurationSeconds</code>\
          \ parameter, or until the time specified in the SAML authentication response's\
          \ <code>SessionNotOnOrAfter</code> value, whichever is shorter. You can\
          \ provide a <code>DurationSeconds</code> value from 900 seconds (15 minutes)\
          \ up to the maximum session duration setting for the role. This setting\
          \ can have a value from 1 hour to 12 hours. If you specify a value higher\
          \ than this setting, the operation fails. For example, if you specify a\
          \ session duration of 12 hours, but your administrator set the maximum session\
          \ duration to 6 hours, your operation fails. To learn how to view the maximum\
          \ value for your role, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\"\
          >View the Maximum Session Duration Setting for a Role</a> in the <i>IAM\
          \ User Guide</i>.</p> <p>By default, the value is set to <code>3600</code>\
          \ seconds. </p> <note> <p>The <code>DurationSeconds</code> parameter is\
          \ separate from the duration of a console session that you might request\
          \ using the returned credentials. The request to the federation endpoint\
          \ for a console sign-in token takes a <code>SessionDuration</code> parameter\
          \ that specifies the maximum length of the console session. For more information,\
          \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html\"\
          >Creating a URL that Enables Federated Users to Access the Amazon Web Services\
          \ Management Console</a> in the <i>IAM User Guide</i>.</p> </note>"
        explode: true
        in: query
        name: DurationSeconds
        required: false
        schema:
          maximum: 43200
          minimum: 900
          type: integer
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AssumeRoleWithSAML
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2011-06-15
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AssumeRoleWithSAMLResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
          description: MalformedPolicyDocumentException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
          description: PackedPolicyTooLargeException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/IDPRejectedClaimException'
          description: IDPRejectedClaimException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidIdentityTokenException'
          description: InvalidIdentityTokenException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredTokenException'
          description: ExpiredTokenException
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
          description: RegionDisabledException
      x-aws-operation-name: AssumeRoleWithSAML
      x-accepts:
      - text/xml
    post:
      description: "<p>Returns a set of temporary security credentials for users who\
        \ have been authenticated via a SAML authentication response. This operation\
        \ provides a mechanism for tying an enterprise identity store or directory\
        \ to role-based Amazon Web Services access without user-specific credentials\
        \ or configuration. For a comparison of <code>AssumeRoleWithSAML</code> with\
        \ the other API operations that produce temporary credentials, see <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html\"\
        >Requesting Temporary Security Credentials</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison\"\
        >Comparing the Amazon Web Services STS API operations</a> in the <i>IAM User\
        \ Guide</i>.</p> <p>The temporary security credentials returned by this operation\
        \ consist of an access key ID, a secret access key, and a security token.\
        \ Applications can use these temporary security credentials to sign calls\
        \ to Amazon Web Services services.</p> <p> <b>Session Duration</b> </p> <p>By\
        \ default, the temporary security credentials created by <code>AssumeRoleWithSAML</code>\
        \ last for one hour. However, you can use the optional <code>DurationSeconds</code>\
        \ parameter to specify the duration of your session. Your role session lasts\
        \ for the duration that you specify, or until the time specified in the SAML\
        \ authentication response's <code>SessionNotOnOrAfter</code> value, whichever\
        \ is shorter. You can provide a <code>DurationSeconds</code> value from 900\
        \ seconds (15 minutes) up to the maximum session duration setting for the\
        \ role. This setting can have a value from 1 hour to 12 hours. To learn how\
        \ to view the maximum value for your role, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\"\
        >View the Maximum Session Duration Setting for a Role</a> in the <i>IAM User\
        \ Guide</i>. The maximum session duration limit applies when you use the <code>AssumeRole*</code>\
        \ API operations or the <code>assume-role*</code> CLI commands. However the\
        \ limit does not apply when you use those operations to create a console URL.\
        \ For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html\"\
        >Using IAM Roles</a> in the <i>IAM User Guide</i>.</p> <note> <p> <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html#iam-term-role-chaining\"\
        >Role chaining</a> limits your CLI or Amazon Web Services API role session\
        \ to a maximum of one hour. When you use the <code>AssumeRole</code> API operation\
        \ to assume a role, you can specify the duration of your role session with\
        \ the <code>DurationSeconds</code> parameter. You can specify a parameter\
        \ value of up to 43200 seconds (12 hours), depending on the maximum session\
        \ duration setting for your role. However, if you assume a role using role\
        \ chaining and provide a <code>DurationSeconds</code> parameter value greater\
        \ than one hour, the operation fails.</p> </note> <p> <b>Permissions</b> </p>\
        \ <p>The temporary security credentials created by <code>AssumeRoleWithSAML</code>\
        \ can be used to make API calls to any Amazon Web Services service with the\
        \ following exception: you cannot call the STS <code>GetFederationToken</code>\
        \ or <code>GetSessionToken</code> API operations.</p> <p>(Optional) You can\
        \ pass inline or managed <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >session policies</a> to this operation. You can pass a single JSON policy\
        \ document to use as an inline session policy. You can also specify up to\
        \ 10 managed policy Amazon Resource Names (ARNs) to use as managed session\
        \ policies. The plaintext that you use for both inline and managed session\
        \ policies can't exceed 2,048 characters. Passing policies to this operation\
        \ returns new temporary credentials. The resulting session's permissions are\
        \ the intersection of the role's identity-based policy and the session policies.\
        \ You can use the role's temporary credentials in subsequent Amazon Web Services\
        \ API calls to access resources in the account that owns the role. You cannot\
        \ use session policies to grant more permissions than those allowed by the\
        \ identity-based policy of the role that is being assumed. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >Session Policies</a> in the <i>IAM User Guide</i>.</p> <p>Calling <code>AssumeRoleWithSAML</code>\
        \ does not require the use of Amazon Web Services security credentials. The\
        \ identity of the caller is validated by using keys in the metadata document\
        \ that is uploaded for the SAML provider entity for your identity provider.\
        \ </p> <important> <p>Calling <code>AssumeRoleWithSAML</code> can result in\
        \ an entry in your CloudTrail logs. The entry includes the value in the <code>NameID</code>\
        \ element of the SAML assertion. We recommend that you use a <code>NameIDType</code>\
        \ that is not associated with any personally identifiable information (PII).\
        \ For example, you could instead use the persistent identifier (<code>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</code>).</p>\
        \ </important> <p> <b>Tags</b> </p> <p>(Optional) You can configure your IdP\
        \ to pass attributes into your SAML assertion as session tags. Each session\
        \ tag consists of a key name and an associated value. For more information\
        \ about session tags, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html\"\
        >Passing Session Tags in STS</a> in the <i>IAM User Guide</i>.</p> <p>You\
        \ can pass up to 50 session tags. The plaintext session tag keys can’t exceed\
        \ 128 characters and the values can’t exceed 256 characters. For these and\
        \ additional limits, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-limits.html#reference_iam-limits-entity-length\"\
        >IAM and STS Character Limits</a> in the <i>IAM User Guide</i>.</p> <note>\
        \ <p>An Amazon Web Services conversion compresses the passed inline session\
        \ policy, managed policy ARNs, and session tags into a packed binary format\
        \ that has a separate limit. Your request can fail for this limit even if\
        \ your plaintext meets the other requirements. The <code>PackedPolicySize</code>\
        \ response element indicates by percentage how close the policies and tags\
        \ for your request are to the upper size limit.</p> </note> <p>You can pass\
        \ a session tag with the same key as a tag that is attached to the role. When\
        \ you do, session tags override the role's tags with the same key.</p> <p>An\
        \ administrator must grant you the permissions necessary to pass session tags.\
        \ The administrator can also create granular permissions to allow you to pass\
        \ only specific session tags. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_attribute-based-access-control.html\"\
        >Tutorial: Using Tags for Attribute-Based Access Control</a> in the <i>IAM\
        \ User Guide</i>.</p> <p>You can set the session tags as transitive. Transitive\
        \ tags persist during role chaining. For more information, see <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_role-chaining\"\
        >Chaining Roles with Session Tags</a> in the <i>IAM User Guide</i>.</p> <p>\
        \ <b>SAML Configuration</b> </p> <p>Before your application can call <code>AssumeRoleWithSAML</code>,\
        \ you must configure your SAML identity provider (IdP) to issue the claims\
        \ required by Amazon Web Services. Additionally, you must use Identity and\
        \ Access Management (IAM) to create a SAML provider entity in your Amazon\
        \ Web Services account that represents your identity provider. You must also\
        \ create an IAM role that specifies this SAML provider in its trust policy.\
        \ </p> <p>For more information, see the following resources:</p> <ul> <li>\
        \ <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_saml.html\"\
        >About SAML 2.0-based Federation</a> in the <i>IAM User Guide</i>. </p> </li>\
        \ <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_create_saml.html\"\
        >Creating SAML Identity Providers</a> in the <i>IAM User Guide</i>. </p> </li>\
        \ <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_create_saml_relying-party.html\"\
        >Configuring a Relying Party and Claims</a> in the <i>IAM User Guide</i>.\
        \ </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-idp_saml.html\"\
        >Creating a Role for SAML 2.0 Federation</a> in the <i>IAM User Guide</i>.\
        \ </p> </li> </ul>"
      operationId: POST_AssumeRoleWithSAML
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AssumeRoleWithSAML
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2011-06-15
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AssumeRoleWithSAMLRequest'
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AssumeRoleWithSAMLResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
          description: MalformedPolicyDocumentException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
          description: PackedPolicyTooLargeException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/IDPRejectedClaimException'
          description: IDPRejectedClaimException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidIdentityTokenException'
          description: InvalidIdentityTokenException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredTokenException'
          description: ExpiredTokenException
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
          description: RegionDisabledException
      x-aws-operation-name: AssumeRoleWithSAML
      x-content-type: text/xml
      x-accepts:
      - text/xml
  /#Action=AssumeRoleWithWebIdentity:
    get:
      description: "<p>Returns a set of temporary security credentials for users who\
        \ have been authenticated in a mobile or web application with a web identity\
        \ provider. Example providers include the OAuth 2.0 providers Login with Amazon\
        \ and Facebook, or any OpenID Connect-compatible identity provider such as\
        \ Google or <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-identity.html\"\
        >Amazon Cognito federated identities</a>.</p> <note> <p>For mobile applications,\
        \ we recommend that you use Amazon Cognito. You can use Amazon Cognito with\
        \ the <a href=\"http://aws.amazon.com/sdkforios/\">Amazon Web Services SDK\
        \ for iOS Developer Guide</a> and the <a href=\"http://aws.amazon.com/sdkforandroid/\"\
        >Amazon Web Services SDK for Android Developer Guide</a> to uniquely identify\
        \ a user. You can also supply the user with a consistent identity throughout\
        \ the lifetime of an application.</p> <p>To learn more about Amazon Cognito,\
        \ see <a href=\"https://docs.aws.amazon.com/mobile/sdkforandroid/developerguide/cognito-auth.html#d0e840\"\
        >Amazon Cognito Overview</a> in <i>Amazon Web Services SDK for Android Developer\
        \ Guide</i> and <a href=\"https://docs.aws.amazon.com/mobile/sdkforios/developerguide/cognito-auth.html#d0e664\"\
        >Amazon Cognito Overview</a> in the <i>Amazon Web Services SDK for iOS Developer\
        \ Guide</i>.</p> </note> <p>Calling <code>AssumeRoleWithWebIdentity</code>\
        \ does not require the use of Amazon Web Services security credentials. Therefore,\
        \ you can distribute an application (for example, on mobile devices) that\
        \ requests temporary security credentials without including long-term Amazon\
        \ Web Services credentials in the application. You also don't need to deploy\
        \ server-based proxy services that use long-term Amazon Web Services credentials.\
        \ Instead, the identity of the caller is validated by using a token from the\
        \ web identity provider. For a comparison of <code>AssumeRoleWithWebIdentity</code>\
        \ with the other API operations that produce temporary credentials, see <a\
        \ href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html\"\
        >Requesting Temporary Security Credentials</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison\"\
        >Comparing the Amazon Web Services STS API operations</a> in the <i>IAM User\
        \ Guide</i>.</p> <p>The temporary security credentials returned by this API\
        \ consist of an access key ID, a secret access key, and a security token.\
        \ Applications can use these temporary security credentials to sign calls\
        \ to Amazon Web Services service API operations.</p> <p> <b>Session Duration</b>\
        \ </p> <p>By default, the temporary security credentials created by <code>AssumeRoleWithWebIdentity</code>\
        \ last for one hour. However, you can use the optional <code>DurationSeconds</code>\
        \ parameter to specify the duration of your session. You can provide a value\
        \ from 900 seconds (15 minutes) up to the maximum session duration setting\
        \ for the role. This setting can have a value from 1 hour to 12 hours. To\
        \ learn how to view the maximum value for your role, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\"\
        >View the Maximum Session Duration Setting for a Role</a> in the <i>IAM User\
        \ Guide</i>. The maximum session duration limit applies when you use the <code>AssumeRole*</code>\
        \ API operations or the <code>assume-role*</code> CLI commands. However the\
        \ limit does not apply when you use those operations to create a console URL.\
        \ For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html\"\
        >Using IAM Roles</a> in the <i>IAM User Guide</i>. </p> <p> <b>Permissions</b>\
        \ </p> <p>The temporary security credentials created by <code>AssumeRoleWithWebIdentity</code>\
        \ can be used to make API calls to any Amazon Web Services service with the\
        \ following exception: you cannot call the STS <code>GetFederationToken</code>\
        \ or <code>GetSessionToken</code> API operations.</p> <p>(Optional) You can\
        \ pass inline or managed <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >session policies</a> to this operation. You can pass a single JSON policy\
        \ document to use as an inline session policy. You can also specify up to\
        \ 10 managed policy Amazon Resource Names (ARNs) to use as managed session\
        \ policies. The plaintext that you use for both inline and managed session\
        \ policies can't exceed 2,048 characters. Passing policies to this operation\
        \ returns new temporary credentials. The resulting session's permissions are\
        \ the intersection of the role's identity-based policy and the session policies.\
        \ You can use the role's temporary credentials in subsequent Amazon Web Services\
        \ API calls to access resources in the account that owns the role. You cannot\
        \ use session policies to grant more permissions than those allowed by the\
        \ identity-based policy of the role that is being assumed. For more information,\
        \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
        >Session Policies</a> in the <i>IAM User Guide</i>.</p> <p> <b>Tags</b> </p>\
        \ <p>(Optional) You can configure your IdP to pass attributes into your web\
        \ identity token as session tags. Each session tag consists of a key name\
        \ and an associated value. For more information about session tags, see <a\
        \ href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html\"\
        >Passing Session Tags in STS</a> in the <i>IAM User Guide</i>.</p> <p>You\
        \ can pass up to 50 session tags. The plaintext session tag keys can’t exceed\
        \ 128 characters and the values can’t exceed 256 characters. For these and\
        \ additional limits, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-limits.html#reference_iam-limits-entity-length\"\
        >IAM and STS Character Limits</a> in the <i>IAM User Guide</i>.</p> <note>\
        \ <p>An Amazon Web Services conversion compresses the passed inline session\
        \ policy, managed policy ARNs, and session tags into a packed binary format\
        \ that has a separate limit. Your request can fail for this limit even if\
        \ your plaintext meets the other requirements. The <code>PackedPolicySize</code>\
        \ response element indicates by percentage how close the policies and tags\
        \ for your request are to the upper size limit.</p> </note> <p>You can pass\
        \ a session tag with the same key as a tag that is attached to the role. When\
        \ you do, the session tag overrides the role tag with the same key.</p> <p>An\
        \ administrator must grant you the permissions necessary to pass session tags.\
        \ The administrator can also create granular permissions to allow you to pass\
        \ only specific session tags. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_attribute-based-access-control.html\"\
        >Tutorial: Using Tags for Attribute-Based Access Control</a> in the <i>IAM\
        \ User Guide</i>.</p> <p>You can set the session tags as transitive. Transitive\
        \ tags persist during role chaining. For more information, see <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_role-chaining\"\
        >Chaining Roles with Session Tags</a> in the <i>IAM User Guide</i>.</p> <p>\
        \ <b>Identities</b> </p> <p>Before your application can call <code>AssumeRoleWithWebIdentity</code>,\
        \ you must have an identity token from a supported identity provider and create\
        \ a role that the application can assume. The role that your application assumes\
        \ must trust the identity provider that is associated with the identity token.\
        \ In other words, the identity provider must be specified in the role's trust\
        \ policy. </p> <important> <p>Calling <code>AssumeRoleWithWebIdentity</code>\
        \ can result in an entry in your CloudTrail logs. The entry includes the <a\
        \ href=\"http://openid.net/specs/openid-connect-core-1_0.html#Claims\">Subject</a>\
        \ of the provided web identity token. We recommend that you avoid using any\
        \ personally identifiable information (PII) in this field. For example, you\
        \ could instead use a GUID or a pairwise identifier, as <a href=\"http://openid.net/specs/openid-connect-core-1_0.html#SubjectIDTypes\"\
        >suggested in the OIDC specification</a>.</p> </important> <p>For more information\
        \ about how to use web identity federation and the <code>AssumeRoleWithWebIdentity</code>\
        \ API, see the following resources: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_oidc_manual.html\"\
        >Using Web Identity Federation API Operations for Mobile Apps</a> and <a href=\"\
        https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#api_assumerolewithwebidentity\"\
        >Federation Through a Web-based Identity Provider</a>. </p> </li> <li> <p>\
        \ <a href=\"https://aws.amazon.com/blogs/aws/the-aws-web-identity-federation-playground/\"\
        > Web Identity Federation Playground</a>. Walk through the process of authenticating\
        \ through Login with Amazon, Facebook, or Google, getting temporary security\
        \ credentials, and then using those credentials to make a request to Amazon\
        \ Web Services. </p> </li> <li> <p> <a href=\"http://aws.amazon.com/sdkforios/\"\
        >Amazon Web Services SDK for iOS Developer Guide</a> and <a href=\"http://aws.amazon.com/sdkforandroid/\"\
        >Amazon Web Services SDK for Android Developer Guide</a>. These toolkits contain\
        \ sample apps that show how to invoke the identity providers. The toolkits\
        \ then show how to use the information from these providers to get and use\
        \ temporary security credentials. </p> </li> <li> <p> <a href=\"http://aws.amazon.com/articles/web-identity-federation-with-mobile-applications\"\
        >Web Identity Federation with Mobile Applications</a>. This article discusses\
        \ web identity federation and shows an example of how to use web identity\
        \ federation to get access to content in Amazon S3. </p> </li> </ul>"
      operationId: GET_AssumeRoleWithWebIdentity
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: The Amazon Resource Name (ARN) of the role that the caller is
          assuming.
        explode: true
        in: query
        name: RoleArn
        required: true
        schema:
          maxLength: 2048
          minLength: 20
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\\
            uE000-\\uFFFD\\u10000-\\u10FFFF]+"
          type: string
        style: form
      - description: "<p>An identifier for the assumed role session. Typically, you\
          \ pass the name or identifier that is associated with the user who is using\
          \ your application. That way, the temporary security credentials that your\
          \ application will use are associated with that user. This session name\
          \ is included as part of the ARN and assumed role ID in the <code>AssumedRoleUser</code>\
          \ response element.</p> <p>The regex used to validate this parameter is\
          \ a string of characters consisting of upper- and lower-case alphanumeric\
          \ characters with no spaces. You can also include underscores or any of\
          \ the following characters: =,.@-</p>"
        explode: true
        in: query
        name: RoleSessionName
        required: true
        schema:
          maxLength: 64
          minLength: 2
          pattern: "[\\w+=,.@-]*"
          type: string
        style: form
      - description: 'The OAuth 2.0 access token or OpenID Connect ID token that is
          provided by the identity provider. Your application must get this token
          by authenticating the user who is using your application with a web identity
          provider before the application makes an <code>AssumeRoleWithWebIdentity</code>
          call. '
        explode: true
        in: query
        name: WebIdentityToken
        required: true
        schema:
          maxLength: 20000
          minLength: 4
          type: string
        style: form
      - description: <p>The fully qualified host component of the domain name of the
          OAuth 2.0 identity provider. Do not specify this value for an OpenID Connect
          identity provider.</p> <p>Currently <code>www.amazon.com</code> and <code>graph.facebook.com</code>
          are the only supported identity providers for OAuth 2.0 access tokens. Do
          not include URL schemes and port numbers.</p> <p>Do not specify this value
          for OpenID Connect ID tokens.</p>
        explode: true
        in: query
        name: ProviderId
        required: false
        schema:
          maxLength: 2048
          minLength: 4
          type: string
        style: form
      - description: "<p>The Amazon Resource Names (ARNs) of the IAM managed policies\
          \ that you want to use as managed session policies. The policies must exist\
          \ in the same account as the role.</p> <p>This parameter is optional. You\
          \ can provide up to 10 managed policy ARNs. However, the plaintext that\
          \ you use for both inline and managed session policies can't exceed 2,048\
          \ characters. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"\
          >Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a>\
          \ in the Amazon Web Services General Reference.</p> <note> <p>An Amazon\
          \ Web Services conversion compresses the passed inline session policy, managed\
          \ policy ARNs, and session tags into a packed binary format that has a separate\
          \ limit. Your request can fail for this limit even if your plaintext meets\
          \ the other requirements. The <code>PackedPolicySize</code> response element\
          \ indicates by percentage how close the policies and tags for your request\
          \ are to the upper size limit.</p> </note> <p>Passing policies to this operation\
          \ returns new temporary credentials. The resulting session's permissions\
          \ are the intersection of the role's identity-based policy and the session\
          \ policies. You can use the role's temporary credentials in subsequent Amazon\
          \ Web Services API calls to access resources in the account that owns the\
          \ role. You cannot use session policies to grant more permissions than those\
          \ allowed by the identity-based policy of the role that is being assumed.\
          \ For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
          >Session Policies</a> in the <i>IAM User Guide</i>.</p>"
        explode: true
        in: query
        name: PolicyArns
        required: false
        schema:
          items:
            $ref: '#/components/schemas/PolicyDescriptorType'
          type: array
        style: form
      - description: "<p>An IAM policy in JSON format that you want to use as an inline\
          \ session policy.</p> <p>This parameter is optional. Passing policies to\
          \ this operation returns new temporary credentials. The resulting session's\
          \ permissions are the intersection of the role's identity-based policy and\
          \ the session policies. You can use the role's temporary credentials in\
          \ subsequent Amazon Web Services API calls to access resources in the account\
          \ that owns the role. You cannot use session policies to grant more permissions\
          \ than those allowed by the identity-based policy of the role that is being\
          \ assumed. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session\"\
          >Session Policies</a> in the <i>IAM User Guide</i>.</p> <p>The plaintext\
          \ that you use for both inline and managed session policies can't exceed\
          \ 2,048 characters. The JSON policy characters can be any ASCII character\
          \ from the space character to the end of the valid character list (\\u0020\
          \ through \\u00FF). It can also include the tab (\\u0009), linefeed (\\\
          u000A), and carriage return (\\u000D) characters.</p> <note> <p>An Amazon\
          \ Web Services conversion compresses the passed inline session policy, managed\
          \ policy ARNs, and session tags into a packed binary format that has a separate\
          \ limit. Your request can fail for this limit even if your plaintext meets\
          \ the other requirements. The <code>PackedPolicySize</code> response element\
          \ indicates by percentage how close the policies and tags for your request\
          \ are to the upper size limit.</p> </note>"
        explode: true
        in: query
        name: Policy
        required: false
        schema:
          maxLength: 2048
          minLength: 1
          pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
          type: string
        style: form
      - description: "<p>The duration, in seconds, of the role session. The value\
          \ can range from 900 seconds (15 minutes) up to the maximum session duration\
          \ setting for the role. This setting can have a value from 1 hour to 12\
          \ hours. If you specify a value higher than this setting, the operation\
          \ fails. For example, if you specify a session duration of 12 hours, but\
          \ your administrator set the maximum session duration to 6 hours, your operation\
          \ fails. To learn how to view the maximum value for your role, see <a href=\"\
          https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\"\
          >View the Maximum Session Duration Setting for a Role</a> in the <i>IAM\
          \ User Guide</i>.</p> <p>By default, the value is set to <code>3600</code>\
          \ seconds. </p> <note> <p>The <code>DurationSeconds</code> parameter is\
          \ separate from the duration of a console session that you might request\
          \ using the returned credentials. The request to the federation endpoint\
          \ for a console sign-in token takes a <code>SessionDuration</code> parameter\
          \ that specifies the maximum length of the console session. For more information,\
          \ see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html\"\
          >Creating a URL that Enables Federated Users to Access the Amazon Web Services\
          \ Management Console</a> in the <i>IAM User Guide</i>.</p> </note>"
        explode: true
        in: query
        name: DurationSeconds
        required: false
        schema:
          maximum: 43200
          minimum: 900
          type: integer
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          enum:
          - AssumeRoleWithWebIdentity
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          enum:
          - 2011-06-15
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AssumeRoleWithWebIdentityResponse'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
          description: MalformedPolicyDocumentException
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
          description: PackedPolicyTooLargeException
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/IDPRejectedClaimException'
          description: IDPRejectedClaimException
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/IDPCommunicationErrorException'
          description: IDPCommunicationErrorException
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidIdentityTokenException'
          description: InvalidIdentityTokenException
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredTokenException'
          description: ExpiredTokenException
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
          description: RegionDisabledException
      x-aws-operation-name: AssumeRoleWithWebIdentity
      x-accepts:
      - text/xml
    post:
      description: "<p>Returns a set of temporary security credentials for users who\
        \ have been authenticated in a mobile or web application with a web identity\
        \ provider. Example providers include the OAuth 2.0 providers Login with Amazon\
        \ and Facebook, or any OpenID Connect-compatible identity provider such as\
        \ Google or <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-identity.html\"\
        >Amazon Cognito federated identities</a>.</p> <note> <p>For mobile applications,\
        \ we recommend that you use Amazon Cognito. You can use Amazon Cognito with\
        \ the <a href=\"http://aws.amazon.com/sdkforios/\">Amazon Web Services SDK\
        \ for iOS Developer Guide</a> and the <a href=\"http://aws.amazon.com/sdkforandroid/\"\
        >Amazon Web Services SDK for Android Developer Guide</a> to uniquely identify\
        \ a user. You can also supply the user with a consistent identity throughout\
        \ the lifetime of an application.</p> <p>To learn more about Amazon Cognito,\
        \ see <a href=\"https://docs.aws.amazon.com/mobile/sdkforandroid/developerguide/cognito-auth.html#d0e840\"\
        >Amazon Cognito Overview</a> in <i>Amazon Web Services SDK for Android Developer\
        \ Guide</i> and <a href=\"https://docs.aws.amazon.com/mobile/sdkforios/developerguide/cognito-auth.html#d0e664\"\
        >Amazon Cognito Overview</a> in the <i>Amazon Web Services SDK for iOS Developer\
        \ Guide</i>.</p> </note> <p>Calling <code>AssumeRoleWithWebIdentity</code>\
        \ does not require the use of Amazon Web Services security credentials. Therefore,\
        \ you can distribute an application (for example, on mobile devices) that\
        \ requests temporary security credentials without including long-term Amazon\
        \ Web Services credentials in the application. You also don't need to deploy\
        \ server-based proxy services that use long-term Amazon Web Services credentials.\
        \ Instead, the identity of the caller is validated by using a token from the\
        \ web identity provider. For a comparison of <code>AssumeRoleWithWebIdentity</code>\
        \ with the other API operations that produce temporary credentials, see <a\
        \ href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html\"\
        >Requesting Temporary Security Credentials</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison\"\
        >Comparing the Amazon Web Services STS API operations</a> in the <i>IAM User\
        \ Guide</i>.</p> <p>The temporary security credentials returned by this API\
        \ consist of an access key ID, a secret access key, and a security token.\
        \ Applications can use these temporary security credentials to sign calls\
        \ to Amazon Web Services service API operations.</p> <p> <b>Session Duration</b>\
        \ </p> <p>By default, the temporary security credentials created by <code>AssumeRoleWithWebIdentity</code>\
        \ last for one hour. However, you can use the optional <code>DurationSeconds</code>\
        \ parameter to specify the duration of your session. You can provide a value\
        \ from 900 seconds (15 minutes) up to the maximum session duration setting\
        \ for the role. This setting can have a value from 1 hour to 12 hours. To\
        \ learn how to view the maximum value for your role, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\"\
[...]
